#frame {
    width: 100%;
    height: 630px;
    background: #FFFFFF;
}
@media only screen and (max-width: 576px) {
    #frame {
        width: 100%;
    }
}
#frame #sidepanel {
    float: left;
    width: 30%;
    height: 100%;
    overflow: hidden;
}
@media only screen and (max-width: 576px) {
    #frame #sidepanel {
      width: 100%;
      min-width: 0;
    }
  }

#frame #sidepanel #header {
  width: 80%;
  height: 42px;
  margin: 55px 50px;
  background: #FFFFFF;
}
#frame #sidepanel #header .chat-box {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

#frame #sidepanel #header .close {
  float: right;
  margin: 5px 15px;
  color: #000000;
}

#frame #sidepanel #contacts {
  width: 100%;
  height: calc(100% - 149px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 576px) {
  #frame #sidepanel #contacts {
    height: calc(100% - 149px);
    overflow-y: scroll;
    overflow-x: hidden;

  }
}

#frame #sidepanel #contacts::-webkit-scrollbar {
  width: 4px;
  background: #e5e7e9;
}
#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}
#frame #sidepanel #contacts .contact {
  width: 100%;
  font-size: 0.9em;
  cursor: pointer;

}

@media only screen and (max-width: 576px) {
  #frame #sidepanel #contacts .contact {
    width: 576px;
  
}
}
#frame #sidepanel #contacts .contact .card:hover {
  background: #f5f5f5;
}
#frame #sidepanel #contacts .contact .card {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 576px) {
  #frame #sidepanel #contacts .contact .card {
    width: 100%;
  }
}
#frame #sidepanel #contacts .contact .card img {
  width: 75px;
  padding: 5px 0 0 0;
  margin: 15px 40px;
}

#frame #sidepanel #contacts .contact .card .card-title {
  width: 70%;
  height: 42px;
  margin: 15px 0;
}
#frame #sidepanel #contacts .contact .card .card-title .title{
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

#frame #sidepanel #contacts .contact .card .card-title .location{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FBAE17;
}

#frame #sidepanel #contacts .contact .card .count {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 1px solid #fbae17;
  border-radius: 6px;
  color: #FBAE17;
}

#frame .content {
    width: 70%;
    height: 100%;
    overflow: hidden;
    background: #FFFFFF;
  }
@media only screen and (max-width: 576px) {
    #frame .content {
      width: 0;
    }
  }

#frame .content .contact-profile {
    width: 100%;
    height: 150px;
    line-height: 60px;
    background: #F2F2F2;
  }

@media only screen and (max-width: 576px) {
  #frame .content .contact-profile .card {
    width: 0;
    height: 0;
  }
}

#frame .content .contact-profile img {
  float: left;
  width: 90px;
  height: 52px;
  margin-left: 25px;
  margin-top: 40px;

  }
@media only screen and (max-width: 576px) {
  #frame .content .contact-profile img {
    width: 0;
    height: 0;
  }
}
#frame .content .contact-profile h6 {
  float: left;
  width: 320px;
  height: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
}

#frame .content .contact-profile .location {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FBAE17;
}
#frame .content .contact-profile .video-group {
  float: right;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50%;
  background: #FBAE17;
}
@media only screen and (max-width: 576px) {
  #frame .content .contact-profile .video-group {
    width: 0;
    height: 0;
  }
}
#frame .content .contact-profile .video-group img {
  width: 20px;
  height: 20px;
  margin: 11px;
}

@media only screen and (max-width: 576px) {
  #frame .content .contact-profile .video-group img{
    width: 0;
    height: 0;
  }
}
#frame .content .contact-profile .call-group {
  float: right;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50%;
  background: black;
}
@media only screen and (max-width: 576px) {
  #frame .content .contact-profile .call-group {
    width: 0;
    height: 0;
  }
}

#frame .content .contact-profile .call-group img {
  width: 20px;
  height: 20px;
  margin: 11px;
}

@media only screen and (max-width: 576px) {
  #frame .content .contact-profile .call-group img{
    width: 0;
    height: 0;
  }
}

#frame .content .contact-profile .view-detail{
  float: right;
  width: 91px;
  height: 21px;
  margin-top: 60px;
  margin-right: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color:#FBAE17;
}

@media only screen and (max-width: 576px) {
  #frame .content .contact-profile .view-detail{
    width: 0;
  }
}
#frame .content .contact-profile .expaned-button i{
  float: right;
  width: 18px;
  height: 18px;
  margin-top: 60px;
  color: #FBAE17;
}
@media only screen and (max-width: 576px) {
  #frame .content .contact-profile .expaned-button i {
    width: 0;
    margin-top: 0;
  }
}

#frame .content .messages {
    width: 98%;
    height: 370px;
    margin-left: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FFFFFF;
  }
@media screen and (max-width: 576px) {
    #frame .content .messages {
      max-height: calc(100% - 105px);
    }
  }
#frame .content .messages::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }
#frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
#frame .content .messages ul li {
    float: left;
    display: inline-block;
    clear: both;
    margin: 15px 15px 5px 15px;
    width: 98%;
    font-size: 0.9em;
 }
#frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
  }
#frame .content .messages ul li.sent p{
    background: #f2f2f2;
    border-radius: 0px 20px 20px 20px;
  } 
  #frame .content .messages ul li.sent.span small{
    color:red;
    position: relative;
    float: right;
    width: auto;
    overflow-x: auto;
    margin-top: 100%;
  }
  #frame .content .messages ul li.replies small{
    background: #FFFFFF;
    float: right;
    width: auto;
    overflow-x: auto;
    margin-right: 20px;
}
  #frame .content .messages ul li.sent img {
    background: #f2f2f2;
  
  }
#frame .content .messages ul li.replies p {
    background: #FFFFFF;
    float: right;
    width: auto;
    overflow-x: auto;
    margin-right: 20px;
    border: 2px solid #e5e5e5;
    border-radius: 20px 0px 20px 20px;
}
// #frame .content .messages ul div h5{
// width: fit-content;
// height: fit-content;
// padding: 10px;
// background: #E4E4E4;
// border-radius: 10px;
// color: #5F5F61;
// }
#frame .content .messages ul li.replies img {
  background: #FFFFFF;
  float: right;
  width: auto;
  margin-right: 20px;
}
#frame .content .messages ul li p  {
  display: inline-block;
  padding: 10px 15px;
  max-width: 205px;
  overflow-x: auto;
  line-height: 130%;
}
@media screen and (min-width: 576px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}
#frame .content input.message-input {
  position: relative;
  height: 45px;
  width: 13px;
  margin-left: 100px;
  margin-right: 153px;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 35px;
  background: #F5F5F5;
  padding: 10px;
  position: fixed;
}
@media only screen and (max-width: 576px) {
  #frame .content .message-input {
    width: 300px;
    height: 48px;
  }
}
#frame .content .send {
  float: right;
  width: 20px;
  height: 20px;
  
  margin-right: 80px;
  border-radius: 50%;
  background: #FBAE17;
}
@media only screen and (max-width: 576px) {
  #frame .content .send {
    width: 40px;
    height: 40px;
    margin-top: 60px;
    margin-right: 22px;
  }
}

#frame .content .send img {
  width: 16px;
  height: 20                                                                                                                                                                                                                                                                                                                                                                                        px;
  left: 1801px;
  top: 996px;
  margin-left: 15px;
  margin-top: 10px;
  background: #FBAE17;
}
@media only screen and (max-width: 576px) {
  #frame .content .send img {
    width: 18px;
    height: 24px;
  }
}

#frame .content .message-input .file-upload {
  float: right;
  width: 152px;
  height: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-right: 15px;
  border-radius: 20px 20px 0px 0px;
  background: #FFFFFF;
}
@media only screen and (max-width: 576px) {
  #frame .content .message-input .file-upload {
    width: 132px;
    height: 36px;
    margin-right: 50px;
  }
}
#frame .content .message-input .file-upload img {
  width: 24px;
  height: 24px;
  left: 1614px;
  top: 996px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 576px) {
  #frame .content .message-input .file-upload img{
    width: 18px;
    height: 18px;
    margin-right: 70px;
  }
}
@media screen and (max-width: 576px) {
  #frame .content .message-input input {
    padding: 15px 32px 16px 8px;
  }
}
#frame .content .message-input  input:focus {
  outline: none;
}
//model
.modal {
  padding: 0 !important; // override inline padding-right added from js
  background-color: #000000;
}
.modal .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
  background-color: #1E1E1E;
}
.modal .modal-body {
  overflow-y: auto;
}
video {
  background-color: #ddd;
  border-radius: 7px;
  margin: 10px 0px 0px 10px;
  width: 320px;
  height: 240px;
}
.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}

.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
}
.chat{
  border-radius: 10px;
}
.emoji-mart {
  position: fixed;
  bottom: 70px;
  right: 20px;
}
 .toggle-emoji svg {
      width: 28px;
      height: 28px;
    }
// video {
//   background-color: #ddd;
//   border-radius: 7px;
//   margin: 10px 0px 0px 10px;
//   width: 320px;
//   height: 240px;
// }
