<div id="frame">
    <div id="sidepanel">
        <div id="header">
            <span class="chat-box">Chat Box</span>
            <span><button type="button" class="close" (click)="close()">&times;</button></span>
        </div>
        <div id="contacts">
            <div class="contact">
                <div class="row">
                    <div class="col col-md-12">
                        <div *ngFor="let chatroom of  ChatRooms">
                            <div class="card" (click)="reload(chatroom)">
                                <div class="row">
                                    <div class="col-3 col-md-3 col-sm-3 mx-auto" *ngIf="chatroom.job.company">
                                        <!-- <img [src]="chatroom.logo" alt=""> -->
                                        <img [src]="chatroom.job.company.logoUrl" alt="">
                                    </div>
                                    <div class="col-9 col-md-9 col-sm-9">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <span class="title">{{chatroom.job.title}}</span><br />
                                                <span class="location"
                                                    *ngIf="chatroom.job.company">{{chatroom.job.company.name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-md-8 offset-1 col-sm-8">
                                        <p>
                                            <!-- <strong class="text-muted">
                                              hello
                                            </strong> -->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <div class="row">
                <div class="col-md-1 d-none d-md-block" *ngIf="contact">
                    <!-- <img [src]="contact.logo" alt="" /> -->
                    <img [src]="contact.company.logoUrl" alt="">
                </div>
                <div class="col-md-3 d-none d-md-block mt-5 ml-5">
                    <span>
                        <h6 *ngIf="contact">{{contact.title}}</h6>
                    </span>
                    <span>
                        <h6 class="location" *ngIf="contact">{{contact.company.name}}</h6>
                    </span>
                </div>
                <div class="col-md-7 d-none d-md-block">
                    <ul>
                        <li *ngIf="contact">
                            <div class="expaned-button">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                        </li>
                        <li *ngIf="contact">
                            <div class="view-detail ml-4">
                                View Detail

                            </div>
                        </li>
                        <li type="button" data-toggle="modal" data-target="#exampleModalCenter" *ngIf="contact">
                            <div class="call-group mt-5">
                                <img src="assets/images/cell.png" alt="">
                            </div>
                        </li>
                        <li type="button" data-toggle="modal" data-target="#exampleModalCenter" *ngIf="contact">
                            <div class="video-group mt-5 ml-2">
                                <img src="assets/images/video-camera.png" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="messages mt-5" #scroller>
            <ul *ngFor="let message of  messages">

                <li [ngClass]="message.workerId===userId?'sent':'replies'">
                    <span *ngIf="!message.filesUrl">
                        <p>
                            {{message.content}}
                        </p>
                        <!-- <small> {{message.createdAt | date:'medium' }}</small> -->
                    </span>
                    <img *ngIf="message.filesUrl && message.filesUrl[0]==='images'" [src]="message.filesUrl[1]"
                        width="100" height="100" />
                    <p *ngIf="message.filesUrl && message.filesUrl[0]==='docs'"> <a
                            [href]="message.filesUrl[1]">{{message.content}}</a></p>
                </li>

            </ul>

        </div>
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight chat">
                <form action="" #authForm="ngForm" (ngSubmit)="setMessage(authForm)">

                    <input placeholder="Type a Message" type="text" id="message" class="form-control" name="message"
                        [(ngModel)]="message" required>
                </form>
            </div>


            <div class="pt-2 bd-highlight">
                <i (click)="toggled = !toggled" [(emojiPickerIf)]="toggled"
                    [emojiPickerDirection]="'bottom' || 'top' || 'left' || 'right'"
                    (emojiPickerSelect)="handleSelection($event)"> <img class="px-1 pt-2" src="assets/images/smile.png"
                        alt=""> </i>

            </div>
            <div class="pt-2 bd-highlight"><label class="btn btn-default btn-file px-1 ">
                    <img src="assets/images/doc.png" alt=""> <input type="file" id="doc" name="doc"
                        style="display: none;" required (change)="uploadFile($event,'docs')">
                </label></div>
            <div class="pt-2 bd-highlight"><label class="btn btn-default btn-file px-1">
                    <img src="assets/images/add.png" alt=""> <input type="file" style="display: none;" required
                        accept="image/*" (change)="uploadFile($event,'images')" id="image" name="image">
                </label>
                <div class="p-2 bd-highlight">
                    <img src="assets/images/send.png" alt="" style="height:15px;">
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row d-flex justify-content-center">
                                <div class="d-flex flex-wrap py-4 mb-4 ">
                                    <video #localVideo class="mr-3" muted autoplay playsinline></video>
                                    <video #remoteVideo class="ml-3" autoplay playsinline></video>
                                </div>

                                <div class="col-12 col-sm-12 text-center">
                                    <img src="assets/images/idea.jpg" alt="idea">
                                </div>
                                <div class="d-flex flex-wrap pt-4">
                                    <div><img src="assets/images/video-camera.png" alt="idea"></div>
                                    <div class="close mx-3" data-dismiss="modal"><img src="assets/images/Group 147.png"
                                            style="height: 30px;" alt="idea"></div>
                                    <div><img src="assets/images/volume 1.png" alt="idea"></div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="modal-footer">
                           
                        </div> -->
                    </div>
                </div>
            </div>
        </div>