.text-center {
    margin-top: 50px;
    margin-bottom: 20px;
}

.text-center-modal {
    text-align: center;
}
.card-style {
    margin-bottom: 25px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
}
.border-line {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #E5E5E5;
}
.card-text {
    color: #FBAE17;
}

.credit-card {
    background: #F5F5F5;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

.submit-button {
    width: 150px;
    height: 45px;
    background: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border-radius: 20px;
}

@media only screen and (max-width: 576px) {
    .submit-button {
        margin-left: 50px;
    }
}

.modal-content {
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
}

.thank-button {
    background: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border-radius: 20px;
}

.see-new-job {
    background: #FFFFFF;
    border-radius: 20px;
}

.text-color {
    color: #FBAE17;
}