<div class="container">
    <div class="row row-header">
        <div class="col-12 col-sm-12">
            <h6 class="text-center">
                Payment of the plan you prefer by entering the bank information here.
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-2 col-12 col-md-8 col-sm-12">
            <div class="card card-style">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="ml-4 mt-4 card-title">
                            Order Summery
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-2 col-sm-12">
                        <div class="row">
                            <div class="col-4 col-md-12 col-sm-4">
                                <div class="ml-4 card-title">
                                    <h5><small class="text-muted">Plan:</small></h5>
                                </div>
                            </div>
                            <div class="col-8 col-md-12 col-sm-8">
                                <div class="ml-4 card-title">
                                    {{paymentPlans.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 col-sm-12">
                        <div class="row">
                            <div class="col-4 col-md-12 col-sm-4">
                                <div class="ml-4 card-title">
                                    <h5><small class="text-muted">Time:</small></h5>
                                </div>
                            </div>
                            <div class="col-8 col-md-12 col-sm-8">
                                <div class="ml-4 card-title">
                                    {{paymentPlans.time}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 col-sm-12">
                        <div class="row">
                            <div class="col-4 col-md-12 col-sm-4">                                
                                <div class="ml-4 card-title">
                                    <h5><small class="text-muted">Total:</small></h5>
                                </div>
                            </div>
                            <div class="col-8 col-md-12 col-sm-8">
                                <div class="ml-4 card-title">
                                    {{paymentPlans.price}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 col-sm-12">
                        <div class="row">
                            <div class="col-4 col-md-12 col-sm-4">
                                <div class="ml-4 card-title">
                                    <h5><small class="text-muted">Tax:</small></h5>
                                </div>
                            </div>
                            <div class="col-8 col-md-12 col-sm-8">
                                <div class="ml-4 card-title">
                                    $2.5
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 col-sm-12">
                        <div class="row">
                            <div class="col-4 col-md-12 col-sm-4">                                
                                <div class="ml-4 card-title">
                                    <h5><small class="text-muted">Total:</small></h5>
                                </div>
                            </div>
                            <div class="col-8 col-md-12 col-sm-8">
                                <div class="ml-4 card-title">
                                    $27.5
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="border-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-8 col-md-4 col-sm-4">
                        <div class="mt-4 mb-3 card-text">
                            Total  $27.5 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-sm-12">
            <div class="card card-style">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <div class="ml-4 mt-4 card-title">
                            Payement Methods
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-sm-12">
                        <h6><small class="text-muted ml-4">Call transaction secure and encrypted</small></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="ml-3 col-12 col-md-3 col-sm-12">
                        <img src="assets/images/card.png" alt="">
                         Credit / Debit card
                    </div>
                    <div class="col-12 col-md-6 col-sm-12">
                        <img src="assets/images/payement_method.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-10 col-sm-12">
                        <div class="ml-2 mr-2 mt-4 mb-4 card credit-card">
                            <div class="row">
                                <div class="mt-2 col-12 col-md-3 col-sm-12">
                                    <label for="cardName" class="ml-4 col-form-label">Name on Card</label>
                                </div>
                                <div class="mt-2 col-12 col-md-5 col-sm-12">
                                    <input type="text" id="cardName" class="form-control" placeholder="Enter Name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mt-2 col-12 col-md-3 col-sm-12">
                                    <label for="cardName" class="ml-4 col-form-label">Card Number</label>
                                </div>
                                <div class="mt-2 col-12 col-md-5 col-sm-12">
                                    <input type="text" id="cardName" class="form-control" placeholder="Enter Number">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mt-2 col-12 col-md-3 col-sm-12">
                                    <label for="cardName" class="ml-4 col-form-label">Expiration Date</label>
                                </div>
                                <div class="mt-2 col-12 col-md-4 col-sm-12">
                                    <input type="date" id="cardName" class="form-control" placeholder="Date">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mt-2 mb-2 col-12 col-md-3 col-sm-12">
                                    <label for="cardName" class="ml-4 col-form-label">Security Code</label>
                                </div>
                                <div class="mt-2 mb-2 col-12 col-md-4 col-sm-12">
                                    <input type="text" id="cardName" class="form-control" placeholder="Code">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
           
                <div class="ml-4 form-check">
        
                    <input class="form-check-input" type="radio" name="paypalRadio" id="paypal">
                    <label class="form-check-label" for="paypal">
                        PayPal
                    </label>
                
                </div>
                <div class="ml-4 form-check">
                    <input class="form-check-input" type="radio" name="paypalRadio" id="useBank">
                    <label class="form-check-label" for="useBank">
                        Use Bank
                    </label>
                </div>
                <div class="ml-4 mb-4 form-check">
                    <input class="form-check-input" type="radio" name="paypalRadio" id="other">
                    <label class="form-check-label" for="other">
                        Other
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-sm-12 offset-md-2">
            <div class="ml-4 mb-3 form-check">
                <input class="form-check-input" type="checkbox" value="" id="agreeCheck">
                <label class="form-check-label" for="agreeCheck">
                    I agreed to the Terms and Conditions governing the use of Thajobz.com
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12">
            <div class="d-grid d-md-flex justify-content-md-center mb-3">
                <button type="button" class="submit-button me-md-2" data-toggle="modal" data-target="#payement">Submit</button>
              </div>
        </div>
    </div>
    <div class="modal" id="payement" role="dialog" tabindex="-1" aria-labelledby="payementLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-12 col-md-12 col-sm-12">
                            <h3 class="modal-title text-center-modal" id="payementLabel">“Congratulations”</h3>
                        </div>
                        <div class="col-12 col-md-12 col-sm-12">
                            <h6 class="text-center-modal">Your payment has been successful</h6>
                        </div>
                        <div class="col-11 offset-1 col-md-11 col-sm-11">
                            <h6 class="text-center-modal">
                                <small class="text-muted">
                                Now you are ready to find a job, apply for it and talk to our employees.<br/>
                                I wish you a job as soon as possible
                                </small>
                            </h6>
                        </div>
                        <div class="col-12 col-md-3 col-sm-12">
                            <div class="row">
                                <div class="ml-2 col-3 col-md-12 col-sm-3">
                                    <h6><small class="text-muted">Plan:</small></h6>
                                </div>
                                <div class="col-5 offset-1 col-md-12 col-sm-5">
                                    Silver Plan
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-sm-12">
                            <div class="row">
                                <div class="ml-2 col-3 col-md-12 col-sm-3">
                                    <h6><small class="text-muted">Time:</small></h6>
                                </div>
                                <div class="col-5 offset-1 col-md-12 col-sm-5">
                                    5 Month
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-sm-12">
                            <div class="row">
                                <div class="ml-2 col-3 col-md-12 col-sm-3">
                                    <h6><small class="text-muted">Total:</small></h6>
                                </div>
                                <div class="col-5 offset-1 col-md-12 col-sm-5">
                                    $27.5
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-sm-12">
                            <div class="row">
                                <div class="ml-2 col-3 col-md-12 col-sm-3">
                                    <h6><small class="text-muted">Done:</small></h6>
                                </div>
                                <div class="col-5 offset-1 col-md-12 col-sm-5">
                                    <img src="assets/images/done.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3 offset-md-6 col-md-3 col-sm-3">
                            <div class="row">
                                <div class="col-3 col-sm-3"><h6 class="text-color">Total</h6></div>
                                <div class="ml-2 col-3 col-sm-3"> <p class="d-none d-sm-block">$27.5</p></div>
                            </div>
                        </div>
                        <div class="col-8 col-md-3 col-sm-8">
                            <div class="row">
                                <div class="col-3 col-sm-3"><p class="d-lg-none">$27.5</p></div>
                                <div class="col-3 col-sm-3"><img src="assets/images/yes.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 col-sm-12">
                            <p class="text-center-modal">Have a good day,Sir...</p>
                        </div>
                        <div class="col-5 offset-md-2 col-md-5 col-sm-5">
                            <button type="button" class="see-new-job">See New Job</button>
                        </div>
                        <div class="col-7 col-md-5 col-sm-7">
                            <button type="button" class="thank-button">Thank You</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>