<div class="job-notification">
    <div class="job-notify mt-3">
        Job Notification
    </div>

    <form #notificationForm = "ngForm" (ngSubmit) = "onApply(notificationForm)">
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-1 col-md-1 mt-3 ml-3">
                    <label class="switch">
                        <input type="checkbox" class="form-control" 
                            [(ngModel)]="userConfigNotification.general" 
                            id="general"
                            required
                            ngModel name="general"
                            >
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-sm-5 col-md-5">
                    <div class="general-notification mt-3 ml-2">
                        General Notification
                    </div>
                </div>
            </div>
        </div>

        <div class="your-specification-job mt-3">
            <small class="text-muted">Your Specification Job</small>
        </div>

        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-1 col-md-1 mt-3 ml-3">
                    <label class="switch">
                        <input type="checkbox" class="form-control"
                        [(ngModel)]="userConfigNotification.newJob"
                        id="newJob"
                        required
                        ngModel name="newJob"
                        >
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-sm-5 col-md-5">
                    <div class="general-notification mt-3 ml-2">
                        New Job
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-1 col-md-1 mt-3 ml-3">
                    <label class="switch">
                        <input type="checkbox" class="form-control"
                        [(ngModel)]="userConfigNotification.jobNotification"
                        id="jobNotification"
                        required
                        ngModel name="jobNotification"
                        
                        >
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-sm-5 col-md-5">
                    <div class="general-notification mt-3 ml-2">
                        Display Notification
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-1 col-md-1 mt-3 ml-3">
                    <label class="switch">
                        <input type="checkbox" class="form-control" 
                        [(ngModel)]="userConfigNotification.jobSound"
                        id="jobSound"
                        required
                        ngModel name="jobSound"
                        
                        >
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-sm-5 col-md-5">
                    <div class="general-notification mt-3 ml-2">
                        Notification Sound
                    </div>
                </div>
            </div>
        </div>

        <div class="your-chat-notification">
            <div class="text-muted">
                Your Chat Notification
            </div>
        </div>

        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-1 col-md-1 mt-3 ml-3">
                    <label class="switch">
                        <input type="checkbox" class="form-control" 
                        [(ngModel)]="userConfigNotification.newChat"
                        id="newChat"
                        required
                        ngModel name="newChat"
                        
                        >
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-sm-5 col-md-5">
                    <div class="general-notification mt-3 ml-2">
                        New Chat
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-1 col-md-1 mt-3 ml-3">
                    <label class="switch">
                        <input type="checkbox" class="form-control" 
                        [(ngModel)]="userConfigNotification.chatNotification"
                        id="chatNotification"
                        required
                        ngModel name="chatNotification"
                        
                        >
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-sm-5 col-md-5">
                    <div class="general-notification mt-3 ml-2">
                        Display Notification
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-1 col-md-1 mt-3 ml-3">
                    <label class="switch">
                        <input type="checkbox"
                        [(ngModel)]="userConfigNotification.chatSound"
                        id="chatSound"
                        required
                        ngModel name="chatSound"
                        
                        >
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-sm-5 col-md-5">
                    <div class="general-notification mt-3 ml-2">
                        Notification Sound
                    </div>
                </div>
            </div>
        </div>
        <div class="seprator"></div>
        <div class="buttons pb-4 d-flex justify-content-start pl-sm-3">
            <button type="submit" class="btn btn-cancel mr-3">Cancel</button>
            <button type="submit" class="btn black-apply">Apply</button>
        </div>
    </form>
</div>
