.job-notification {
  /* The switch - the box around the slider */
  .switch {
      display: inline-block;
      width: 48px;
      height: 23px;
      background: #1E1E1E;
      border-radius: 30px;

    }
    
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: #FFFFFF;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #000000;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #000000;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
      background: #FBAE17;
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
      background-color: #000000;
      
    }
    
    .slider.round:before {
      border-radius: 50%;
    }

    .btn-box {
      .black-bg {
          float: right;
          background: black;
          border-radius: 10px;
          color: #FFFFFF;
          width: auto;
          font-weight: normal;
          padding: 8px 12px;

      }
      .black-bg:hover {
          background: #FBAE17;
          border: 2px solid #fbae17;
          color: #fff;

      }
  }

  .black-apply {
    background: #000000;
    border-radius: 20px;
    border: 2px solid #000000;
    color: #ffff;
    font-weight: 500;
    padding: 8px 32px;
    &:hover {
        background: #fbae17;
        border: 2px solid #fbae17;
    }
}
.btn-cancel {
    background: transparent;
    border: 2px solid #666666;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 500;
    color: #666666;
    cursor: pointer;
    padding: 8px 36px;
    &:hover {
        background: #fbae17;
        border: 2px solid #fbae17;
        color: #FFFFFF;
    }
}

    .job-notify {
      font-weight: 500;
    }

    .general-notification {
      font-weight: 500;
    }

    .your-specification-job {
      font-weight: 500;
    }

    .your-chat-notification {
      font-weight: 500;
    }

    .seprator {
      border: 1px solid #C4C4C4;
      margin-top: 32px;
      margin-bottom: 32px;
  }

    .custom-label {
      .form-control {
          &:focus {
              border: 1px solid #ced4da;
          }
      }
  }
}