<div class="user-info">

    <div class="user-img pt-4">
        <img class="rounded-circle" [src]="imageUrl" width="120" 
        height="120">
        <div class="form-group custom-label">               
            <div class="btn-box mt-3">        
                <input hidden type="file" name="file" 
                    (change)="onFileChange($event)" #fileUpload /> 
                    <button class="btn black-bg" (click)="fileUpload.click()">
                        Upload image
                </button>
            </div>    
        </div>
    </div>
    <form #userInformationForm = "ngForm" (ngSubmit) = "onApply(userInformationForm.value)">
        <div class="seprator"></div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-3">
                    <input type="text" class="form-control" [(ngModel)]="usersData.firstname"
                    id="firstname" 
                    required
                    ngModel name="firstname" >
                </div>
                <div class="col-sm-5 col-md-3 mt-3 mt-sm-0">
                    <input type="text" class="form-control" [(ngModel)]="usersData.lastname"
                    id="lastname"
                    required
                    ngModel name="lastname">
                </div>
            </div>    
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <input type="email" class="form-control" placeholder="Email" 
                    [(ngModel)]="usersData.email"
                    id="email"
                    required
                    ngModel name="email">
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <input type="password" class="form-control" placeholder="Password" 
                    [(ngModel)]="usersData.password"
                    id="password"
                    required
                    ngModel name="password">
                </div>
            </div>
        </div>

        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <input type="text" class="form-control" placeholder="Date Of Birth" 
                    [(ngModel)]="usersData.date_of_birth"
                    id="date_of_birth"
                    required
                    ngModel name="date_of_birth">
                </div>
            </div>
        </div>
        
        <div class="seprator"></div>

        <div class="address mb-3">Address</div>
        
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-3">
                    <input type="text" class="form-control" placeholder="Street Number" 
                    [(ngModel)]="usersData.street"
                    id="street"
                    required
                    ngModel name="street">
                </div>
                <div class="col-sm-5 col-md-3 mt-3 mt-sm-0">
                    <input type="text" class="form-control" placeholder="Tower Name" 
                    [(ngModel)]="usersData.tower"
                    id="tower"
                    required
                    ngModel name="tower">
                </div>
            </div>    
        </div>

        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-3">
                    <input type="text" class="form-control" placeholder="City" 
                    [(ngModel)]="usersData.city"
                    id="city"
                    required
                    ngModel name="city">
                </div>
                <div class="col-sm-5 col-md-3 mt-3 mt-sm-0">
                    <input type="text" class="form-control" placeholder="State" 
                    [(ngModel)]="usersData.state"
                    id="state"
                    required
                    ngModel name="state">
                </div>
            </div>    
        </div>

        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-3">
                    <input type="text" class="form-control" placeholder="Country" 
                    [(ngModel)]="usersData.country"
                    id="country"
                    required
                    ngModel name="country">
                </div>
                <div class="col-sm-5 col-md-3 mt-3 mt-sm-0">
                    <input type="text" class="form-control" placeholder="Zip Code" 
                    [(ngModel)]="usersData.zip"
                    id="zipcode"
                    required
                    ngModel name="zip">
                </div>
            </div>    
        </div>

        <div class="seprator"></div>
        <div class="notification-status ml-2 mt-3">
            Notification Status
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-1 col-md-1 mt-3 ml-3">
                    <label class="switch">
                        <input type="checkbox" id="notification_status"
                        [(ngModel)]="usersData.notification_status"
                        required
                        ngModel name="notification_status">
                        <span class="slider round"></span>                                                                                                                                                  
                    </label>
                </div>
            </div>
        </div>
        <div class="buttons pb-4 d-flex justify-content-start pl-sm-3 mt-3">
            <button type="submit" class="btn btn-cancel mr-3">Cancel</button>
            <button type="submit" class="btn black-apply">Apply</button>
        </div>
    </form>                                                                                                                    
</div>

  