<div class="main_content">
    <div class="container">
        <div class="header-center">
            <h1>Register </h1>
        </div>
        <!-- white bg -->
        <div class="white_bg">
            <h3 class="text-center">Enter Personal Details</h3>

            <div class="social-btn">

                <ul>
                    <li>
                        <a type="button" class="btn googleBtn">
                            <img src="assets/images/google.jpg" alt="google" 
                           >
                        </a>
                    </li>
                    <li>
                        <a type="button" class="btn facebookeBtn">
                            <img src="assets/images/facebook.jpg" alt="facebook" 
                            >
                        </a>
                    </li>
                </ul>
            </div>
            <div class="or-box">
                <p><span>or</span></p>

            </div>

            <div class="form-box">
                <form  #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                    <div class="form-label-group custom-label">
                        <input type="text" id="inputName" class="form-control" placeholder="First Name" required
                            autofocus="" ngModel name="firstName">
                        <label for="inputName">First Name</label>
                    </div>
                    <div class="form-label-group custom-label">
                        <input type="text" id="inputLName" class="form-control" placeholder="Last Name" required
                            autofocus="" ngModel name="lastName">
                        <label for="inputLName">Last Name</label>
                    </div>
                    <div class="form-label-group custom-label">
                        <input type="text" id="inputEmail" class="form-control" placeholder="Email" required email
                            autofocus="" ngModel name="email">
                        <label for="inputEmail">Email</label>
                    </div>
                    <div class="form-label-group custom-label">
                        <span class="eye-box"><i class="fa fa-eye"></i></span>
                        <input type="Password" id="inputPassword" class="form-control" placeholder="Password"
                            required ngModel name="password" minlength="6" autofocus="">
                        <label for="inputPassword" >Password</label>
                    </div>
                    <h4>Profession</h4>
                    <div class="form-label-group professtional custom-label">

                        <input type="Password" id="inputProfession" class="form-control" placeholder="Profession Wanted"
                            required autofocus="" ngModel name="profession">
                        <label for="inputProfession">Profession Wanted</label>
                    </div>
                    <div class="check-box">
                        <label class="container-checkbox">I agreed to the Terms and Conditions governing the use of
                            Thajobz.com
                            <input type="checkbox" checked="checked" required ngModel name="checked">
                            <span class="checkmark"></span>
                        </label>

                    </div>
                    <div class="btn-box">
                        <button class="btn black-bg" type="submit" [disabled]="!authForm.valid"> Register </button>

                    </div>
                    <p class="text-center">Already have an account? <a href="#">Sign in</a></p>
                </form>
            </div>
        </div>
        <!-- white bg -->
    </div>
</div>