<header>
    <div class="pl-xl-0 pr-xl-0 container">

        <nav class="navbar navbar-expand-lg mx-3">
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.jpg" alt="THAZBAZ">
            </a>

            <form class="form-inline ml-xl-2 search-box my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Job Title or Company"
                    aria-label="Search"   (input)="searchByTitle($event.target.value)" #title >
                <input class="form-control custom-width" type="search"  (input)="searchByLocation($event.target.value)" placeholder="Search City,State"
                    aria-label="Search" #location>
                <button class="btn btn-search" type="submit" (click)="addItem(title.value,location.value)"><i class="fa fa-search"></i></button>
            </form>

            <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:void(0)" routerLink="home">Home <span class="sr-only">(current)</span></a>
                    </li>
<!--                     <li class="nav-item">
                        <a class="nav-link" routerLink = "/price">Subscription</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" (click)="goToJobPage()">Job Offer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Automation</a>
                    </li>

                    <li class="desk-hide nav-item">
                        <a class="nav-link" href="#">Sign in</a>
                    </li>

                    <li class="desk-hide nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>

                </ul>

            </div>
            <!-- <ul class="login-right">
                <li routerLinkActive="active">
                    <a routerLink="/signin"  ><i class="fa fa-comments"></i></a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/register" class="active"><i class="fa fa-bell"></i></a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/register" class="active"><i class="fa fa-user"></i> My Profile</a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/signin"  >Sign in</a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/register" class="active">Register</a>
                </li>
            </ul> -->
            <ul class="login-right">
                <li routerLinkActive="active">
                    <a routerLink="/profile">
                        <img src="../../../assets/images/chat.png">
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/profile/notification">
                        <img src="../../../assets/images/notification.png">
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/profile/my-info">
                        <img src="../../../assets/images/user.png"> My Profile
                    </a>
                </li>
                <li routerLinkActive="active" class="ml-3" *ngIf="isLoggedIn$">
                    <a (click)="logOut()" class="white--text">
                        <img src="../../../assets/images/logout.png" height="15px"> Logout
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</header>