<div class="container">
    <div class="privacy-polict-wrapper mt-5 mb-5">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <div class="heading">
                    <h1>Privacy Policy</h1>
                </div>
                <p class="privacy-policy-content mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                <br><br>
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                <div class="note mt-4 mb-2">
                    <h1>Note:</h1>
                    <p class="mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem.</p>
                    <ul>
                        <li>Contrary to popular belief</li>
                        <li class="mt-2">Contrary to popular belief</li>
                        <li class="mt-2">Contrary to popular belief</li>
                        <li class="mt-2">Contrary to popular belief</li>
                        <li class="mt-2">Contrary to popular belief</li>
                    </ul>
                </div>

                <div class="questions mt-4">
                    <div>
                        <div class="ques-heading d-flex mt-3">
                            <span class="index mr-2">1.</span>
                            <div>Collection of Personally Identifiable Information and other Information</div>
                        </div>
                        <div class="answer mt-3 mb-4">Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</div>
                    
                    <div>
                        <div class="ques-heading d-flex">
                            <span class="index mr-2">2.</span>
                            <div>Collection of Personally Identifiable Information and other Information</div>
                        </div>
                        <div class="answer mt-3 mb-4">
                            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.<br><br>
                            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                        </div>
                    </div>    

                    <div>
                        <div class="ques-heading d-flex">
                            <span class="index mr-2">3.</span>
                            <div>Collection of Personally Identifiable Information and other Information</div>
                        </div>
                        <div class="answer mt-3 mb-4">Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</div>
                    </div>    

                    <div>
                        <div class="ques-heading d-flex">
                            <span class="index mr-2">4.</span>
                            <div>Collection of Personally Identifiable Information and other Information</div>
                        </div>
                        <div class="answer mt-3 mb-4">
                            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. <br><br>
                            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</div>

