<div class="d-flex justify-content-center" style="background: white;">
    <div class="card job-description my-4 mx-2">
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-3 col-sm-1" *ngIf="company">
                    <img [src]="company.logoUrl" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col col-sm ml-4 mt-2">
                    <h4><strong>{{job.title}}</strong></h4>
                    <span class="orange-text" *ngIf="company">{{company.name}}</span>
                </div>
            </div>
        </div>
        <div class="card mx-3 job-BoxInner mb-3">
            <div class="row">
                <div class="col-sm ml-3 mt-3">
                    <dl class="row justify-content-center">
                        <dt class="col-6 col-sm-4 text-muted">Experience:</dt>
                        <dd class="col-6 col-sm-8 ml-0 pl-0"><strong>
                                {{job.experience}}</strong></dd>
                        <div class="dl-border"></div>
                        <div class="w-100"></div>
                        <dt class="col-6 col-sm-4 text-muted">Salary:</dt>
                        <dd class="col-6 col-sm-8 ml-0 pl-0"><strong>{{job.salary}}</strong></dd>
                        <div class="dl-border"></div>
                        <div class="w-100"></div>
                        <dt class="col-6 col-sm-4 text-muted">Location:</dt>
                        <dd class="col-6 col-sm-8 ml-0 pl-0"><strong>{{job.location}}</strong></dd>
                        <div class="dl-border"></div>
                        <div class="w-100"></div>
                        <dt class="col-6 col-sm-4  text-muted">Type:</dt>
                        <dd class="col-6 col-sm-8 ml-0 pl-0"><strong>{{job.contractType}}</strong></dd>
                    </dl>
                </div>
                <div class="h-divider v-divider"></div>
                <div class="col-sm mt-3">
                    <div class="d-flex align-items-end justify-content-center" style="height: 100px;">
                        <div class="d-flex flex-column flex-sm-row">
                            <button class="btn btn-outline btn-job-box ml-3 my-2" style="color: #666666;"
                                (click)=" goToChat()">
                                <img src="../../../assets/images/chat3.png" class="mr-2 mb-1" style="height: 15px;">Live
                                Chat
                            </button>
                            <button class="btn btn-dark btn-job-box ml-3 my-2" (click)="applyForJob(job.id)">Apply For
                                job</button>
                        </div>
                    </div>
                    <hr class="solid mx-3 mb-0 pb-0">
                    <div class="d-flex mx-4">
                        <div class="mr-auto p-2"><img class="mr-1 mb-1" src="../../../assets/images/clock.png"
                                style="height: 15px;"><span style="color: #5F5F61;">{{job.createdAt |
                                momentPipe}}</span> </div>
                        <div class="p-2"> <a href="#" class="card-link text-warning">
                                Send Me Jobs Link This
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-title">
                <h5> <strong>Job Description</strong></h5>
            </div>
            <pre>
          {{job.description}}
        </pre>
        </div>
        <div class="card-body">
            <h5 class="card-title"> <strong>Education</strong></h5>
            <h6 class="card-subtitle mb-2 ml-3 text-muted">{{job.education}}</h6>
        </div>
        <div class="card-footer bg-transparent border-gray mx-4">
            <div class="row">
                <div class="col-sm-10 d-flex">
                    <ul class="list-inline">
                        <li class="list-inline-item"><Strong> Share It</Strong></li>
                        <li class="list-inline-item"><img src="../../../assets/images/facebook.png"
                                style="height: 20px;"></li>
                        <li class="list-inline-item"><img src="../../../assets/images/twitter.png"
                                style="height: 20px;"></li>
                        <li class="list-inline-item"><img src="../../../assets/images/linkedin .png"
                                style="height: 20px;"></li>
                        <li class="list-inline-item"><img src="../../../assets/images/instagram.png"
                                style="height: 20px;"></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="card-link text-warning">
                        Report this Job
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>