.job-description{
	border:2px solid #E5E5E5;
	border-radius: 12px;
  width: 1164px;
}
.job-BoxInner{
	border:2px solid #E5E5E5;
	border-radius: 12px;
} 
  hr.solid {
    border: 1px solid #E5E5E5;
    margin-bottom: 15px;
    transform: rotate(180deg);
  }
@media(min-width: 576px){
    .v-divider{
  width: 104px;
  border-top: 1px solid #C4C4C4;
  margin-right: 30px;
  transform: rotate(90deg);
       }
}
@media(max-width: 576px){
    .h-divider{
      width: 500px;
      height: 0px;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 35px;
      border: 1px solid #E5E5E5;
       }
       hr.solid {
        width: 255pxpx;
        border: 1px solid #E5E5E5;
        transform: rotate(180deg);
      }
    dt{
     font-size: 20px;
    }
    dd{
      font-size: 20px;
    }
    .dl-border{
      justify-items: center;
      width: 150px;
      margin-bottom: 8px;
      margin-right: 40px;
      border: 1px solid #E5E5E5;
    }
}
@media(max-width: 576px){
       span.center {
        text-align: center;
        color: red;
      }
}
.btn-job-box{
  border-radius: 10px;
  border:2px solid  gray;
  padding:12px 30px;
  font-weight: 700;
}
// .btn :hover{
//   background:#fbad17;
// border:1px solid #fbad17;
// color: #fff;
// }