<div class="user-setting">
    <div class="password-detail mt-3">
        Password Detail
    </div>

    <form #settingForm = "ngForm" (ngSubmit) = "onApply(settingForm.value)">
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5 mt-3">
                    <input type="text" class="form-control btn-box" 
                    placeholder="Old Password" id="oldPassword"
                    required
                    ngModel name="oldPassword">
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control btn-box" placeholder="New Password" id="newPassword"
                    required
                    ngModel name="newPassword">
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control btn-box" placeholder="Confirm Password" id="newPassword"
                    required
                    ngModel name="newPassword">
                </div>
            </div>
        </div>

        <div class="seprator"></div>

        <div class="buttons pb-4 d-flex justify-content-start pl-sm-3">
            <button type="submit" class="btn btn-cancel mr-3">Cancel</button>
            <button type="submit" class="btn black-apply">Apply</button>
        </div>
    </form>
</div>