<div class="job-detail">
    <div class="your-job-profession mt-3">
        Your Job Profession
    </div>

    <form #jobDetailForm = "ngForm" (ngSubmit) = "onApply(jobDetailForm.value)">
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5 mt-3">
                    <input type="text" class="form-control btn-box" placeholder="Current Designation" id="description"
                    required
                    ngModel name="description"
                    [(ngModel)] = "jobsData.description">
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control btn-box" placeholder="Current Company" id="company"
                    required
                    ngModel name="company"
                    [(ngModel)] = "jobsData.company">
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control btn-box" placeholder="Annual Salary" id="salary"
                    required
                    ngModel name="salary"
                    [(ngModel)] = "jobsData.salary">
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control btn-box" placeholder="Current Location" id="location"
                    required
                    ngModel name="location"
                    [(ngModel)] = "jobsData.location">
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control btn-box" placeholder="Skills" id="skills"
                    required
                    ngModel name="skills"
                    [(ngModel)] = "jobsData.skills">
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control btn-box" placeholder="Industry" id="industry"
                    required
                    ngModel name="industry"
                    [(ngModel)] = "jobsData.industry">
                </div>
            </div>
        </div>

        <div class="seprator"></div>

        <div class="next-jop-plan">
            Next Job Plan
        </div>

        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5 mt-3">
                    <div class="job-catagory ml-1">job-catagory</div>
                    <input type="text" class="form-control btn-box" placeholder="Programer" id="job_catagory"
                    required
                    ngModel name="job_catagory"
                    [(ngModel)] = "jobsData.job_catagory">
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <div class="job-catagory ml-1">sub-catagory</div>
                    <input type="text" class="form-control btn-box" placeholder="HTML, JAVA, PHP +" id="sub_catagory"
                    required
                    ngModel name="sub_catagory"
                    [(ngModel)] = "jobsData.sub_catagory">
                </div>
            </div>
        </div>
        <div class="salary text-muted mb-1">salary</div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-3">
                    <input type="text" class="form-control btn-box" placeholder="Lower Salary" id="low_salary" 
                    required
                    ngModel name="low_salary"
                    [(ngModel)] = "jobsData.low_salary">
                </div>
                <small class="text-muted">To</small>
                <div class="col-sm-5 col-md-3">
                    <input type="text" class="form-control btn-box" placeholder="High Salary" id="high_salary"
                    required
                    ngModel name="high_salary"
                    [(ngModel)] = "jobsData.high_salary">
                </div>
            </div>
        </div>
        <div class="area text-muted mb-1">area</div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control btn-box" placeholder="Enter Area" id="area"
                    required
                    ngModel name="area"
                    [(ngModel)] = "jobsData.area">
                </div>
            </div>
        </div>

        <div class="seprator"></div>

        <div class="buttons pb-4 d-flex justify-content-start pl-sm-3">
            <button type="submit" class="btn btn-cancel mr-3">Cancel</button>
            <button type="submit" class="btn black-apply">Apply</button>
        </div>
    </form>
</div>