<div class="main_content">
    <div class="container">
        <div class="header-center">
            <h1>Employment </h1>
        </div>
        <div class="white_bg">
            <span [hidden] = "!isEmployment">                
                <h3 class="text-center">Your Profession</h3>
                <div class="custom-label">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 offset-3 justify-content-center">                
                            <div class="input-file">
                                <div class="d-flex">
                                    <input type="text" name="file-name" id="file-name" class="file-name"
                                    readonly="readonly">
                                    <input type="button" class="filebtn" value="Upload Resume">
                                    <button type="button" class="upload-box" 
                                        (click)="fileInput.click()"
                                    ><i class="fa fa-plus"></i>
                                    </button>
                                </div>

                                <div class="info-tag"><a href="#" title="info"><i class="fa fa-info-circle"></i></a></div>
                            </div>
                            <h5 class="text-right">or copy paste your resume here</h5>
                        </div>                
                    </div>
                </div>
            </span>
            <div class="form-box">
                <form #employmentForm = "ngForm" (ngSubmit) = "onApply(employmentForm.value)">
                    <span [hidden]="!isEmployment">

                        <h4>Your Education</h4>
                        <div class="form-label-group custom-label">
                            <input type="text" class="form-control" placeholder="Highest Qualification" 
                            id="highest_quali"
                            required
                            ngModel name="highest_quali"
                            [(ngModel)] = "profData.highest_quali">
                        </div>
                        <div class="form-label-group custom-label">
    
                            <input type="text" class="form-control" placeholder="Course" id="course"
                            required
                            ngModel name="course"
                            [(ngModel)] = "profData.course">
    
                        </div>
                        <div class="form-label-group custom-label">
    
                            <input type="text" class="form-control" placeholder="University / College" 
                            id="university_college"
                            required
                            ngModel name="university_college"
                            [(ngModel)] = "profData.university_college">
                        </div>
                        <div class="form-label-group custom-label">
            
                            <input type="text" class="form-control" placeholder="Course Type" id="course_type"
                            required
                            ngModel name="course_type"
                            [(ngModel)] = "profData.course_type">
    
                        </div>
                        <div class="form-label-group custom-label">
    
                            <input type="text" class="form-control" placeholder="Passing Year" id="passing_year"
                            required
                            ngModel name="passing_year"
                            [(ngModel)] = "profData.passing_year">
                        </div>
                        <div class="form-label-group custom-label">
                            <span class="eye-box"><i class="fa fa-plus"></i></span>
                            <input type="text" class="form-control" placeholder="Specialization" id="specialization"
                            required
                            ngModel name="specialization"
                            [(ngModel)] = "profData.specialization">
                        </div>
                    </span>
                    <span [hidden]="isEmployment">
                        <div class="form-label-group custom-label">
    
                            <input type="text" class="form-control" id="current_designation"            placeholder="Current Designation"
                                        required=""
                                        ngModel name="current_designation"
                                        [(ngModel)] = "profData.current_designation" 
                                        autofocus="">
                        </div>
                       
                        <div class="form-label-group custom-label">
    
                            <input type="text" id="current_company" class="form-control" 
                                placeholder="Current Company" required=""
                                ngModel name="current_company"
                                [(ngModel)] = "profData.current_company" 
                                autofocus="">
                           
                        </div>
                        <div class="form-label-group custom-label">
                            <input type="text" id="annualSalary" class="form-control" 
                                    placeholder="Annual Salary ($)"
                                    required=""
                                    ngModel name="annual_salary"
                                    [(ngModel)] = "profData.annual_salary" 
                                    autofocus="">
                            
                        </div>
                        <div class="form-label-group custom-label">
                            <input type="text" id="currentLocation" class="form-control" 
                                    placeholder="Current Location" 
                                    required=""
                                    ngModel name="current_location"
                                    [(ngModel)] = "profData.current_location" 
                                    autofocus="">
                        
                        </div>
                        <div class="form-label-group custom-label">
                            <span class="eye-box"><i class="fa fa-plus"></i></span>
                            <input type="text" id="skills" class="form-control" 
                                    placeholder="Skills"
                                    required="" 
                                    ngModel name="skills"
                                    [(ngModel)] = "profData.skills"
                                    autofocus="">
                            
                        </div>
                        <div class="form-label-group custom-label">
                            <input type="text" id="Industry" class="form-control" 
                                    placeholder="Industry" 
                                    required=""
                                    ngModel name="industry"
                                    [(ngModel)] = "profData.industry"
                                    autofocus="">
                            
                        </div>
                    </span>
                    <div class="btn-box two-btn">
                        <button class="btn border-btn" (click)="goSecondStep()"> Skip </button>
                        <button class="btn black-bg" (click)="goSecondStep()"> Continue </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- white bg -->
    </div>
<input  hidden type="file" id="fileUrl" [(ngModel)]="fileUrl"     
        required ngModel name="file" #fileInput (change)="uploadFile($event)"/>
</div>