<div class="main_content">
    <div class="container">
        <div class="header-center">
            <h1>Reset Forgoton Password </h1>
        </div>
        <!-- white bg -->
        <div class="white_bg">
            <h3 class="text-center">Enter Email</h3>
            <div class="form-box">
                <form #resetPassword="ngForm" (ngSubmit)="onApply(resetPassword)">
                    <div class="form-label-group custom-label">
                        <input type="text" id="inputEmail" class="form-control" 
                               placeholder="Email" [(ngModel)]="passwordResetEmail"  
                               required 
                               ngModel name="email"
                               autofocus="">
                        <label for="inputEmail">Email</label>
                    </div>
                    <div class="btn-box">
                        <button class="btn black-bg" 
                        type="submit">send</button>
                    </div>
                </form>
            </div>  
        </div>
        <!-- white bg -->
    </div>
</div>