body{
	font-family: 'Roboto', sans-serif;
	background:#f2f2f2;
}
.white-body{
	background: #fff;
}
.container{
	width: 1170px;
	max-width:1170px;
	margin:0 auto;
}
button:focus{
	outline:none;
}
header{
	background-color: #1e1e1e;
	padding: 20px 0;
}
header nav.navbar{
padding: 0;
}
.menu li a{
	color: #fff;
	font-size: 16px;
	transition: all ease-in .3s;
	-webkit-transition: all ease-in .3s;
	-moz-transition: all ease-in .3s;
	-o-transition: all ease-in .3s;
	-ms-transition: all ease-in .3s;
}
.search-box{
	margin-left:15px;
}
.search-box input{
	color: #545454;
	font-size: 16px;
	border-radius:9px;
}
.search-box input.custom-width.form-control {
    max-width: 160px;
}
.search-box input.mr-sm-2.form-control{
	width: 230px;
}
.search-box .btn-search{
background:#fff;
border:1px solid #fff;
color: #000;
border-radius:9px;
margin-left:10px;
padding: 6px 15px;
	transition: all ease-in .3s;
	-webkit-transition: all ease-in .3s;
	-moz-transition: all ease-in .3s;
	-o-transition: all ease-in .3s;
	-ms-transition: all ease-in .3s;
}
.search-box .btn-search:hover{
background:#fbad17;
border:1px solid #fbad17;
color: #fff;	
}
.menu {
    margin-left: 15px;
}
.menu li a:hover{
color: #fbad17;
}
.login-right li{
	display: inline-block; vertical-align: middle;
}
ul.login-right {
	margin: 0;
	padding: 0;
}
ul.login-right li a{
	color: #fff;
	font-size: 14px;
	transition: all ease-in .3s;
	-webkit-transition: all ease-in .3s;
	-moz-transition: all ease-in .3s;
	-o-transition: all ease-in .3s;
	-ms-transition: all ease-in .3s;
}
ul.login-right li a:hover{
	text-decoration: none;
	color: #fbad17;
}
ul.login-right li{
	padding-left: 10px;
}
/*main-header*/
.main_content{
	margin-top: 80px;
	margin-bottom: 50px;
}
.header-center{
	text-align: center;
}
.header-center h1{
	font-weight: 600;
	margin-bottom: 30px;
}
.white_bg{
	background:#fff;
	max-width: 780px;
	border-radius: 40px;
	margin: 0 auto 0;
	padding: 30px;
}
.btn-box .btn{
	background: #fbae17;
	color:#fff;
	border:2px solid #fbae17;
	border-radius: 10px;
	padding:12px 30px;
	font-weight: 700;
	transition: all ease-in .3s;
	-webkit-transition: all ease-in .3s;
	-moz-transition: all ease-in .3s;
	-o-transition: all ease-in .3s;
	-ms-transition: all ease-in .3s;

}
.btn-box .btn:hover{
	background: #fff;
	color:#fbae17;
	border:2px solid #fbae17;
}
.btn-box .btn.gry-bg{
	background: #f5f5f5;
	border:2px solid #797979;
	color: #797979;
}
.btn-box .btn.gry-bg:hover{
	background: #797979;
	border:2px solid #797979;
	color: #fff;
}
.white_bg h3{
	font-size: 16px;
	color: #464648;
	margin-bottom: 30px;
	font-weight: 700;
}
.box-1 p{
	margin:30px 0;
	color:#bfbfbf;
}
.desk-hide{
	display: none;
}
li{
	list-style: none;
}
/*floating label*/
.form-label-group {
    position: relative;
    margin-bottom: 1rem;}
.form-label-group > input, .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}
.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}
.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
        border: 1px solid #faa817;
    box-shadow: none;
}
.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
       z-index: 1;
    top: -9px;
    background: #fff;
    width: auto;
    padding: 0;
    margin-left: 4px;
    color: #faa817;
}
/*register page*/
.social-btn ul{
	margin: 0;
	padding: 0;
	text-align: center;
}
.social-btn ul li{
	display: inline-block;
	margin: 0 15px;
}
.or-box {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.or-box p{
	position: relative;
}
.or-box p:after{
	left: 0;
	position: absolute;
	right:0;
	top:50%;
	content: "";
	height: 1px;
	background: #ccc;
}
.or-box span{
	background: #fff;
	padding: 15px;
	display: inline-block;
	position: relative;
	z-index: 9;
}
.form-box h4 {
    color: #c0c0c0;
    font-size: 16px;
}
.form-box{
	width: 50%;
	margin: 0 auto;
}
.professtional{
	padding-left: 15px;
}
.custom-label label{
	color: #a8a8a8;
	font-size: 14px;
	padding: 9px 15px;
	z-index: -1;

}
.custom-label input.form-control{
		color: #a8a8a8;
	font-size: 14px;
	padding: 9px 15px;
	background: transparent;
}
.custom-label input.form-control:focus{
	border: 1px solid #faa817;
    box-shadow: none;
}
/*check box*/
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #57575a;
}
/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 14px;
    width: 15px;
    border-radius: 3px;
    background-color: #fff;
    border:1px solid #57575a;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

}
/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #ffb417;
    border:1px solid #ffb417;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
   left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn-box .black-bg{
	background: #000;
	width:100%;
	border:2px solid #000;
}
.btn-box .btn.black-bg:hover{
	background: #fbae17;
	border:2px solid #fbae17;
	color: #fff;
}
.form-box p{
	margin-top: 30px;
}
.form-box p a{
	color: #fbae17;
}
.form-label-group.custom-label {
    position: relative;
}
.eye-box{
	position: absolute;
}
.eye-box {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
}
/*employment page*/
/*input file*/

.file {
  display: none;
}

.file-name {
  position: relative;
  overflow: hidden;
  line-height: 20px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 15px;
  vertical-align: middle;
  width: calc(100% - 120px);
  border:0;
  border-radius: 0.25rem;
  
}
.file-name:focus{
	border:0;
	outline: none;
}

.filebtn {
  background: #000;
  border: none;
  border-radius: 6px;
  width: auto;
  box-sizing: border-box;
  padding: 2px 10px;
 border: 1px solid #000;
  transition: all 0.6s;
  color: #fff;
  font-size: 14px;
  vertical-align: middle;
  margin-left: 1rem;
}
.filebtn:hover {
  background: #fbae17;
  box-shadow: 0 0 5px #fbae17;
   border: 1px solid #fbae17;
}
.input-file {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    
    padding: 5px; 
    position: relative;
}
.info-tag {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.info-tag a{
	color: #000;
}
.custom-label h5{
	margin: 5px 0 15px;
	font-size: 12px;
	font-weight: 400;
	color: #c0c0c0;
}
.custom-label select{
font-size: 14px;
color: #808080;
}
.custom-label select:focus{
	box-shadow: none;
	outline: none;
}
.custom-label .fa-plus{
	font-size: 12px;
}
.two-btn {
	text-align: center;
	margin-top: 30px;
}
.two-btn .btn{
	width: auto;
}
.two-btn .btn.border-btn{
	background: #fff;
	border:1px solid #000;
	color: #000;
}
.two-btn .btn.border-btn:hover{
	background: #000;
	border:1px solid #000;
	color: #fff;
}
.two-btn .btn {
    width: 115px;
    padding: 5px 19px;
    font-weight: 400;
    border-width: 1px;
    margin: 0 5px;
}
.btn-box.two-btn .btn:hover {
    
    border-width: 1px;
}

/*banner css*/
.home-slider .owl-nav button.owl-prev,.home-slider .owl-nav button.owl-next,
.arrival-slider .owl-nav button.owl-prev,.arrival-slider .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 35px;
    height:35px;
    line-height:35px;
    text-align: center;
    background: rgba(255,255,255,.9);
    border-radius: 35px;
    padding: 0 !important;
}
.home-slider .owl-nav button.owl-prev:focus,.home-slider .owl-nav button.owl-next:focus,
.arrival-slider .owl-nav button.owl-prev:focus,.arrival-slider .owl-nav button.owl-next:focus{
outline: none;
}
.home-slider .owl-nav button.owl-prev span, .home-slider .owl-nav button.owl-next span,
.arrival-slider .owl-nav button.owl-prev span, .arrival-slider .owl-nav button.owl-next span {
    font-size: 24px;
    display: inline-block;
    line-height: 33px;
}
.home-slider .owl-nav button.owl-prev{
	left:15px;
}
.home-slider .owl-nav button.owl-next{
	right:15px;
}
.arrival-slider .owl-nav button.owl-next{
	right:-45px;
}
.arrival-slider .owl-nav button.owl-prev{
	left:-45px;
} 
.home-slider .owl-dots button span {
    width: 16px;
    height: 16px;
    background: #c4c4c4;
    display: block;
    border-radius: 24px;
    border: 4px solid #ffffff;
    margin: 0 5px;
}
.home-slider .owl-dots button.active span{
background: #FBAE17;
width:20px;
height: 20px;
box-shadow: 0 0 25px rgba(255,255,255,.9);
}
.owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
.banner-img{
	position: relative;
}
.banner-img img{
	width: 100%;
}
.banner-caption {
    position: absolute;
    left: 14%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    text-align: center;
    max-width: 640px;
}
.banner-caption h1 {
 color: #fff;
    font-size: 81px;
    margin: 0;
    line-height: 70px;
}
.banner-caption h5 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 34px;
}
.banner-caption p {
    
    color: #bbb7b7;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 37px;
}
.banner-img .btn-box button.btn {
    width: 181px;
    font-size: 19px;
    padding: 10px 0;
}
.container{
	max-width: 1920px;
	width: 100%;
}
/*how it works section*/
.how-it-works{
	margin:100px 0;
}
.how-text{
	padding:0 100px;
}
.how-text {
	text-align: center;
}
.page-heading {
	font-weight: 500;
font-size: 44px;
line-height: 65px;
color:#000;
}
.white-text{
	color:#fff;
}
.how-text p{
color: #5F5F61;
font-size: 18px;
line-height: 24px;

}
.text-btn a{
color: #FBAE17;
font-weight: 500;
font-size: 18px;
line-height: 24px;
display: inline-block;
}
.inner-box img{
	width: 100%;
}
.signInJoinus{
	margin-bottom: 100px;
}
.signInJoinus .btn{
	width: auto;
}
/*new arrival*/
.new-arrival{
	background: #1E1E1E;
	padding:40px 0;
}
.arriving-inner{
	border-radius: 20px;
	padding:30px;
	background: #fff;
}
.gray-box{
	background: #f2f2f2;
	border-radius: 20px;
	padding:30px;
	margin-bottom: 40px;
}
.custom-padding{
	padding:0 50px;
}
.logo-box h3{
	position: relative;
}
.arrival-slider .logo-box h3 img{
	width: auto;
	display: inline-block;
}
.logo-box h3 img,.logo-box h3 span{
	display: inline-block;
	vertical-align: middle;
}
.logo-box h3 span{
	padding-left: 10px;
    font-size: 22px;
}
.orange-text{
	color: #FBAE17;
	font-size: 18px;
	display: block;
	margin:10px 0 10px;
}
.gray-box ul{
	padding:0;
}
.gray-box ul li{
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.gray-box ul li:after{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	margin:0 auto;
	content: "";
	height: 1px;
	background: #C4C4C4;
}
.gray-box ul li:last-child:after{
	display: none;
}
.gray-box ul li:last-child{
	margin:0;
	padding:0;
}
.btn-box.width-auto .btn{
	width:auto;
}
.btn-box.width-auto{
	text-align: center;
}
.gray-box span{
	display: inline-block;
}
span.label {
    color: #808080;
    font-size: 20px;
    font-weight: 500;
    width:45%;
}
span.input {
    font-size: 20px;
    color: #000;
    font-weight: 500;
}
.other-vacancy{
	padding:100px 0 100px;
}
.white-box {
    background: #fff;
    padding: 10px 30px;
    margin: 0;
}
.vacancy-boxInner{
	border:2px solid #E5E5E5;
	background: #fff;
	border-radius: 20px;
	transition: ease-in all .3s;
	-webkit-transition: ease-in all .3s;
	-moz-transition: ease-in all .3s;
	-o-transition: ease-in all .3s;
	-ms-transition: ease-in all .3s;
	padding: 30px;
	margin-bottom: 30px;
}

.vacancy-boxInner:hover{
	border:2px solid #FBAE17;
box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
}
.vacancy-boxInner .logo-box h3 span{
	font-size:24px;
}
.vacancy-boxInner .logo-box h3 .orange-text{
	display: block;
	font-size: 16px;
}
.gray-box.white-box li {
    display: inline-block;
    width: 50%;
    margin: 0 -2px;

}
.gray-box.white-box li:before{
position: absolute;
	top:0;
	bottom: 0;
	right: 20px;
	width: 1px;
	margin:0 auto;
	content: "";
	height: 20px;
	background: #C4C4C4;
}
.gray-box ul{
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.gray-box ul:after{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	margin:0 auto;
	content: "";
	height: 1px;
	background: #C4C4C4;
}
.gray-box.white-box ul li:last-child:before{
	display:none;
}
.gray-box.white-box ul li:after{
display: none;
}
.gray-box.white-box span{
	font-size: 16px;
}
.vacancy-boxInner p{
	margin:0;
	color:#adadad;

	position:relative;
	padding-left: 20px;

}
.vacancy-boxInner p:after{
	background:#FBAE17;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	content: "";
	left: 0;
	top: 7px;
	position: absolute;
	opacity: 1;

}
.btn-box .btn.gray-bg{
	background: #e5e5e5;
	border-radius: 0;
	color: #808080;
	width: 80%;
	border:1px solid #e5e5e5;
	padding:8px 15px;
}
.out-partner{
	background: #f2f2f2;
	padding:40px;
	margin-bottom: 100px;
}
.out-partner ul{
	margin: 0;
	padding:0;
	text-align:center;
}
.out-partner li{
	display: inline-block;
	padding: 0 15px;
	width:20%;
	margin:0 -2px;
	margin-top: 20px;
	vertical-align: middle;
}
.partner-logo{
	background:#fff;
	height: 155px;
	line-height:155px;
}
.partner-logo img{
	width: 45%;
	margin:0 auto;
}
/* .out-partner{
	background: #f2f2f2;
	padding:40px;
	margin-bottom: 100px;
}
.out-partner ul{
	margin: 0;
	padding:0;
	text-align:center;
}
.out-partner li{
	display: inline-block;
	padding: 0 15px;
	width:20%;
	margin:0 -2px;
	margin-top: 20px;
	vertical-align: middle;
}
.partner-logo{
	background:#fff;
	height: 155px;
	line-height:155px;
}
.partner-logo img{
	width: 80%;
	margin:0 auto;
} */
footer{
	background: #1E1E1E;
	padding: 40px 0;
}
.footer-content{
	padding:0 100px ;
}
.footer-link ul{
	margin:0;
	padding:0;
	text-align: right;
	display: block

}
.footer-link ul li{
	display: inline-block;
padding:0 5px;
margin-top:5px;
}
.footer-link ul li a{
	color: #fff;
	transition: ease-in all .3s;
	-webkit-transition: ease-in all .3s;
	-moz-transition: ease-in all .3s;
	-o-transition: ease-in all .3s;
	-ms-transition: ease-in all .3s;
}
.footer-link ul li a:hover{
	color:#FBAE17;
	text-decoration: none;
}
.footer-box h4{
	color: #fff;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer-box ul{
	margin:0;
	padding:0;
}
.footer-box ul li a,.social-box a{
	color: #ccc;
	font-size: 14px;
	transition: ease-in all .3s;
	-webkit-transition: ease-in all .3s;
	-moz-transition: ease-in all .3s;
	-o-transition: ease-in all .3s;
	-ms-transition: ease-in all .3s;
	margin-bottom: 5px;
	display: inline-block;
}
.footer-box ul li a:hover,.social-box a:hover{
	color:#FBAE17;
	text-decoration: none;
}
.social-box h6{
	color: #ccc;
	margin-top: 30px;
	font-weight: 400;
}
.social-box a{
	font-size: 18px;
	padding:0 5px;
	color: #fff;
}
.bottom-footer{
	text-align: center;
	color: #fff;
	font-size: 14px;
	border-top: 1px solid #ccc;
	margin:30px 150px 0;
	padding-top:30px;
	position: relative;
}
.right-footer{
	position: absolute;
	right:0;
	top: 30px;

}
.right-footer a{
	color: #fff;
	padding-left: 15px;
}
