<div class="user-profession">
    <div class="your-profession mt-3">
        Your Profession
        <div class="custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5 mt-3">                
                    <div class="input-file">
                        <div class="d-flex">
                            <input type="text" name="file-name" id="file-name" class="file-name"
                                readonly="readonly">
                            <input type="button" class="filebtn" value="Upload Resume">
                            <button type="button" class="upload-box" 
                            (click)="fileInput.click()"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <h5 class="text-right">or copy paste your resume here</h5>
                </div>                
            </div>
        </div>
    </div>

    <form #proffesionForm = "ngForm" (ngSubmit) = "onApply(proffesionForm.value)">

        <div class="your-education mt-3">
            <small class="text-muted">Your Education</small> 
        </div>

        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5 mt-3">
                    <input type="text" class="form-control" placeholder="Highest Qualification" 
                    [(ngModel)] = "profData.qualification"
                    id="qualification"
                    required
                    ngModel name="qualification"
                    >
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control" placeholder="Course" 
                    [(ngModel)] = "profData.course"
                    id="course"
                    required
                    ngModel name="course"
                    >
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control" placeholder="Course Type" 
                    [(ngModel)] = "profData.courseType"
                    id="courseType"
                    required
                    ngModel name="courseType"
                    >
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control" placeholder="University / College" 
                    [(ngModel)] = "profData.school"
                    id="school"
                    required
                    ngModel name="school"
                    >
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <input type="date" class="form-control" placeholder="Passing Year" 
                    [(ngModel)] = "profData.end"
                    id="end"
                    required
                    ngModel name="end"
                    >
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control" placeholder="Specialization" 
                    [(ngModel)] = "profData.specialization"
                    id="specialization"
                    required
                    ngModel name="specialization"
                    >
                </div>
            </div>
        </div>

        <div class="seprator"></div>

        <div class="buttons pb-4 d-flex justify-content-start pl-sm-3">
            <button type="submit" class="btn btn-cancel mr-3">Cancel</button>
            <button type="submit" class="btn black-apply">Apply</button>
        </div>
    </form>
</div>
<input  hidden type="file" id="fileUrl" [(ngModel)]="fileUrl"     
        required ngModel name="file" #fileInput (change)="uploadFile($event)"/>
