<div  class="white-body">
    <section class="banner">
        <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-carousel', 'home-slider','owl-theme']" >  
            <div class="item" *ngFor="let img of HomeImages">  
                <div class="banner-img">
                    <img src="{{img}}" alt="banner" />
                    <div class="banner-caption">
                        <h1>5000+ Jobs</h1>
                        <h5>Available</h5>
                        <p>Search and find favorite job Get the opportunity
                            <br /> to do your favorite place job</p>
                        <div class="btn-box orange-btn">
                            <button type="text" class="btn" (click)="goToJobPage()">
                                Find Job
                            </button>
                        </div>
                    </div>
                </div>  
            </div>  
        </owl-carousel> 
    </section>
    <section class="how-it-works">
        <div class="container row align-items-center">
            <div class="how-img col-md-6">
                <div class="inner-box"><img src="assets/images/how-it-works.jpg" alt="how-img" /></div>
            </div>
            <div class="how-text col-md-6">
                <h2 class="page-heading">How it works!</h2>
                <p>By dealing with the company, we fill existing vacancies
                    with new employees.
                    We keep our happiness in the happiness of the people.
                    We try to get new employees to get jobs
                    as soon as possible</p>
                <div class="text-btn"><a href="#">View more</a></div>
            </div>
        </div>
    </section>
    <!-- <section class="signInJoinus">
        <div class="container text-center" *ngIf="userId == ''">
            <h2 class="page-heading">Sign in and join us!</h2>
            <p>Sign in so we can help you <br />
                and get you a job as soon as possible</p>
            <div class="btn-box">
                <button class="btn black-bg" (click)="goToSignIn()">Sign in</button>
            </div>
        </div>
    </section> -->
    <section class="new-arrival" *ngIf="ArivalImages.length>0">
        <div class="container">
            <h2 class="page-heading text-center white-text">New Arrival</h2>
            <div class="custom-padding" >
                <owl-carousel [options]="ArivalSlideOptions" [items] = "ArivalImages" 
                            [carouselClasses]="['owl-carousel', 'arrival-slider','owl-theme']" >  
                    <div class="item" *ngFor="let arivalImage of  ArivalImages">
                        <div class="arrive-box">
                            <div class="arriving-inner">
                                <div class="logo-box" *ngIf="arivalImage.company">
                                    <h3><img [src]="arivalImage.company.logoUrl" alt="usa travel" />
                                        <span>{{arivalImage.title}}<br /></span>
                                    </h3>
                                    <span class="orange-text" *ngIf="arivalImage.company">{{arivalImage.company.name}}</span>
                                    <div class="gray-box">
                                        <ul>
                                            <li><span class="label" name="experience">Experience</span>
                                                <span class="input">{{arivalImage.experience}}</span>
                                            </li>
                                            <li><span class="label">Salary</span>
                                                <span class="input">{{arivalImage.salary}}</span>
                                            </li>
                                            <li><span class="label">Location</span>
                                                <span class="input">{{arivalImage.location}}</span>
                                            </li>
                                            <li><span class="label">Type</span>
                                                <span class="input">{{arivalImage.contractType}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-box width-auto">
                                        <button class="btn black-bg" (click)="checkExistance(arivalImage.id)"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, '': !isLoading}"></i>Apply </button>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </owl-carousel> 
            </div>
        </div>
    </section>
    <section class="other-vacancy" id="vacancy" >
        <div class="container">
            <div class="row" >
                <div class="col-md-6 vacany-box" *ngFor="let vacancy of  Vacancies">
                    <div class="vacancy-boxInner" 
                        [routerLink]="['/job-description']" [queryParams]="vacancy">
                        <div class="logo-box"  *ngIf="vacancy.company">
                            <h3><img [src]="vacancy.company.logoUrl" alt="idea">
                                <span> {{vacancy.title}}
                                    <span class="orange-text" *ngIf="vacancy.company">{{vacancy.company.name}}</span>
                                </span>
    
                            </h3>
    
                            <div class="gray-box white-box">
    
                                <ul>
                                    <li><span class="label">Experience</span>
                                        <span class="input">{{vacancy.experience}}</span>
                                    </li>
                                    <li><span class="label">Salary</span>
                                        <span class="input">{{vacancy.salary}}</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span class="label">Location</span>
                                        <span class="input">{{vacancy.location}}</span>
                                    </li>
                                    <li><span class="label">Type</span>
                                        <span class="input">{{vacancy.contractType}}</span>
                                    </li>
                                </ul>
                            </div>
                            <p>{{vacancy.role}}</p>
                            <p class="col-2 text-truncate">{{vacancy.description}}</p>
                            <!-- <p>{{vacancy.jobDescription}}</p> -->
    
                        </div>
                    </div>
                </div>
            </div> 
            <div class="btn-box text-center" *ngIf="totalLength!='undefined'">
                <button class="btn gray-bg" *ngIf="viewMore" (click)="showMore()" >View more</button>
                <button class="btn gray-bg" *ngIf="viewLess" (click)="showLess()">View Less</button>
            </div>
        </div>
    </section>
    <section class="out-partner">
        <div class="container">
            <h2 class="page-heading text-center">Our Partner</h2>
            <owl-carousel [options]="PartnersSlideOptions" [carouselClasses]="['owl-carousel', 'our-partners','owl-theme']" >  
                <div class="items" *ngFor="let partnerImage of PartnerImages">
                    <div class="partner-logo"><img src="{{partnerImage}}"></div>
                </div>
            </owl-carousel> 
            <!-- <ul class="owl-carousel our-partners owl-theme">
                <li>
                    <div class="partner-logo"><img src="assets/images/google.png"></div>
                </li>
                <li>
                    <div class="partner-logo"><img src="assets/images/intel.png"></div>
                </li>
                <li>
                    <div class="partner-logo"><img src="assets/images/microsoft.png"></div>
                </li>
                <li>
                    <div class="partner-logo"><img src="assets/images/HP-Logo.png"></div>
                </li>
                <li>
                    <div class="partner-logo"><img src="assets/images/google.png"></div>
                </li>
            </ul> -->
        </div>
    </section>
</div>