<div class="main_content">
    <div class="container">
        <div class="header-center">
            <h1>Sign in </h1>
        </div>
        <!-- white bg -->
        <div class="white_bg">
            <h3 class="text-center">Enter ID and Password</h3>

            <div class="social-btn">

                <ul>
                    <li>
                        <a type="button" class="btn googleBtn">
                            <img src="assets/images/google.jpg" alt="google" 
                            >
                        </a>
                    </li>
                    <li>
                        <a type="button" class="btn facebookeBtn">
                            <img src="assets/images/facebook.jpg" alt="facebook" 
                            >
                        </a>
                    </li>
                </ul>
            </div>
            <div class="or-box">
                <p><span>or</span></p>

            </div>

            <div class="form-box">
                <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                    <div class="form-label-group custom-label">
                        <input type="text" id="inputEmail" class="form-control" placeholder="Email" #inputEmail required ngModel name="email"
                            autofocus="">
                        <label for="inputEmail">Email</label>
                    </div>
                    <div class="form-label-group custom-label">
                        <a href="javascript:void(0)" (click)="showHidePassword()"><span class="eye-box"><i #passwordIcon class="fa fa-eye-slash"></i></span></a>
                        <input type="Password" id="inputPassword" class="form-control" placeholder="Password" #inputPassword
                            required ngModel name="password" autofocus="" #inputPassword>
                        <label for="inputPassword">Password</label>
                    </div>
                    <div class="check-box">
                        <label class="container-checkbox">Keep me signed in on this device
                            <input type="checkbox" 
                            >
                            <span class="checkmark"></span>
                        </label>

                    </div>
                    <div class="btn-box">
                        <button class="btn black-bg" type="submit"> Sign in </button>

                    </div>
                    <div class="box-1"><p class="text-center"><a routerLink="/resetforgetpassword">Forgot your password</a></p></div>
                    <p class="text-center">Not a member? <a routerLink="/register" class="active">Sign up</a></p>
                </form>
            </div>
        </div>
        <!-- white bg -->
    </div>
</div>