.job-box{
	border-radius: 20px;
}
.job-box li{
    &:not(:last-child):after {
    content: '|'; 
    margin-left: 15px;
    margin-right: 10px;
    }
}
@media screen and (max-width: 576px) {
  .li-border{
    justify-content: center;
    width: 150px;
    margin-left: 80px;
    border: 1px solid #E5E5E5;
   }
  .job-box li {
  &:not(:last-child):after {
  content: "";
  }

  span.label {
    color: #808080;
    font-size: 20px;
    font-weight: 500;
    margin-right: 60px;
    width:20%;
  }
  span.input {
    font-size: 20px;
    text-align: justify;
    justify-content: center;
    color: #000;
    font-weight: 500;
width: 77px;
  }
}

}
span.label {
  color: #808080;
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
  width:20%;
}
span.input {
  font-size: 15px;
  color: #000;
  font-weight: 500;
}
.job-box-border{
height: 50px;
background: #FFFFFF;
vertical-align: center;
border: 1px solid #D3D3D3;
box-sizing: border-box;
border-radius: 20px
}
.sidenav {
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    margin-top: 55px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  // .sidenav a:hover {
  //   color: #f1f1f1;
  // }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    color: #000;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .page-link{
    display: block;
    padding: .4rem .8rem;
    margin-left: 4px;
    color:  #000000;;
    border-radius: 6px;
    background-color: white;
    // border: 2px solid #000000 !important;
    border: 2px solid #E5E5E5 !important;

  }
  .page-item.active .page-link{
    z-index: 3;
    color: white;
    background-color: black !important;
    border-color: #E5E5E5;;
  }
  .page-link:hover{
    z-index: 2;
    color:white;
    text-decoration: none;
    background-color: black;
    border-color: #E5E5E5;
  }
  .btn-sort{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 35px;
    background-color: white;
    font-size: 14px;
  }
  .btn{
    background: #F2F2F2;
  }
  .btn:hover{
    border:1px solid #FBAE17;
    background-color: #FBAE17;
    color: #FFFFFF;
  }
  hr.rounded {
    background: #F2F2F2;
    border-top: 3px solid #bbb;
    border-radius: 5px;
  }
  .dl-border{
    justify-items: center;
    width: 150px;
    margin-bottom: 8px;
    margin-right: 40px;
    border: 1px solid #E5E5E5;
  }
  
  .filter__input {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    width: 90px;
    height: 40px;
  }
  
  // ::ng-deep {
  //   .custom-slider {
  //     .ngx-slider {
  //       .ngx-slider-selection {
  //         background: black !important;
  //       }
  //     .ngx-slider-pointer-min{
  //       background: black !important;
  //     }
  //     .ngx-slider-pointer-max{
  //       background: black !important;
  //     }
  //     }
  //   }
  // }
  ::ng-deep{
    .custom-slider {
      .ngx-slider{
        .ngx-slider-selection{
          background: #000000 !important;
        }
        .ngx-slider-pointer {
          background: #000000 !important;
          width: 20px;
          height: 20px;
          top: -8px;
        }
        .ngx-slider-pointer:focus {
          border: none;
          outline:none;
        }
        .ngx-slider-pointer:after {
          background: none!important;
        }
      }
    }
  }
  .my-pagination ::ng-deep.ngx-pagination .current {
    background: black;
  }
  
  // .my-pagination.ngx-pagination .current {
  //   background: red;
  // }
//     .custom-slider .ngx-slider.ngx-slider-selection {
//         background: #000000 !important;
//     }
//     .custom-slider .ngx-slider.ngx-slider-pointer {
//         background: #000000 !important;
//         width: 20px;
//         height: 20px;
//         top: -8px;
//     }

//     .custom-slider .ngx-slider.ngx-slider-pointer:focus {
//         border: none;
//         outline:none;
//     }
//     .custom-slider .ngx-slider.ngx-slider-pointer:after {
//         background: none!important;
//     }
// }