<div class="container d-flex align-items-center justify-content-center" style="background: white;">
  <div class="row" style="width: 1200px;" class="pt-3">
    <h6 class="text-muted">Job Selection</h6>
    <div class="d-flex flex-wrap" style="max-height: 120px; overflow-x: hidden;">
      <img src="../../../assets/images/search.png" class="mr-3 mt-3 " style="height: 20px;">
      <button class="mr-2 my-2 btn active"  (click)="buttonToggle('jobType','Work From Home')">Work From Home</button>
      <button class="mr-2 my-2 btn active"  (click)="buttonToggle('jobType','Part Time')">Part Time</button>
      <button class="mr-2 my-2 btn active"  (click)="buttonToggle('jobType','Full Time')">Full Time</button>
      <button class="mr-2 my-2 btn" (click)="buttonToggle('industryName','Office Work')">Office Work</button>
      <button class="mr-2 my-2 btn" (click)="buttonToggle('industryName','Sales Marketing jobs')">Sales Marketing jobs</button>
      <button class="mr-2 my-2 btn" (click)="buttonToggle('industryName','Computer Operator')">Computer Operator</button>
      <button class="mr-2 my-2 btn" (click)="buttonToggle('industryName','Office Assistant')">Office Assistant</button>
      <button class="mr-2 my-2 btn" (click)="buttonToggle('industryName','Data Entry')">Data Entry</button>
      <button class="mr-2 my-2 btn" (click)="buttonToggle('industryName','Accounting')">Accounting</button>
      <button class="mr-2 my-2 btn" (click)="buttonToggle('industryName','UI/UX Desginer')">UI/UX Desginer</button>
    </div>
    <hr class="rounded ml-2">
    <div class="row">
      <div id="mySidenav" class="card sidenav d-md-none d-sm-block" style="border-radius: 15px;">
        <div class="card-title mt-2 ml-4">

          <strong><img src="../../../assets/images/Filter icon.png" class="mr-2" style="height: 20px;">Filter<a
              href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a></strong>
        </div>
        <span class="ml-4 mt-2" data-toggle="collapse" data-toggle="collapse" href="#freshness">
          <div class="d-flex">
            <div class="mr-auto p-2"><Strong>Freshness</Strong> </div>
            <div class="mr-4 pt-2"><img src="../../../assets/images/Vector .png" style="height: 10px;"></div>
          </div>
        </span>
        <div id="freshness" class="collapse show">
          <div class="card-body ml-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="date" id="date1" 
                checked   value="date1"   (change)="filterBy($event.target.value)">
              <label class="form-check-label" for="date1">
                15 Days
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="date" id="date2"  value="date2" (change)="filterBy($event.target.value)">
              <label class="form-check-label" for="date2">
                1 Month
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="date" id="date3" value="date3"  (change)="filterBy($event.target.value)">
              <label class="form-check-label" for="date3">
                6 Month
              </label>
            </div>
          </div>
          <hr class="my-auto flex-grow-1 mx-4">
        </div>

        <span class="ml-4 mt-3" data-toggle="collapse" data-toggle="collapse" href="#salary">
          <div class="d-flex">
            <div class="mr-auto p-2"><Strong> Salary</Strong> </div>
            <div class="mr-4 pt-2"><img src="../../../assets/images/Vector .png" style="height: 10px;"></div>
          </div>
        </span>
        <div id="salary" class="collapse show">
          <div class="card-body ml-3">
            <div class="custom-slider">
              <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options" (mouseup)="filterRange('salary',value,highValue)"></ngx-slider>
            </div>
            <div class="d-flex mt-4">
              <div class="mr-auto p-2">
                <input type="text" class="filter__input" [value]="value" >
              </div>
              <div class="p-2">

                <input type="text" class="filter__input" [value]="highValue" (change)="filterRange('salary',value,highValue)">
              </div>
            </div>

          </div>
          <hr class="my-auto flex-grow-1 mx-4">
        </div>
        <span class="ml-4 mt-3" data-toggle="collapse" data-toggle="collapse" href="#industries">
          <div class="d-flex">
            <div class="mr-auto p-2"><Strong>Industries</Strong> </div>
            <div class="mr-4 pt-2"><img src="../../../assets/images/Vector .png" style="height: 10px;"></div>
          </div>
        </span>
        <div id="industries" class="collapse show">
          <div class="card-body ml-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="It and Developement" id="it-development" [(ngModel)]="it" (change)="it?filterByJobType('industryName',$event.target.value):filterRemove('industryName')" >
              <label class="form-check-label" for="lightCheck1">
                It and Developement
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Contraction" id="contraction" [(ngModel)]="contraction" (change)="contraction?filterByJobType('industryName',$event.target.value):filterRemove('industryName')">
              <label class="form-check-label" for="lightCheck2">
                Contraction
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Education" id="education"  [(ngModel)]="education"  (change)="education?filterByJobType('industryName',$event.target.value):filterRemove('industryName')">
              <label class="form-check-label" for="lightCheck2">
                Education
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Sales and Marketing" id="Sales and Marketing"  [(ngModel)]="sales"   (change)="sales?filterByJobType('industryName',$event.target.value):filterRemove('industryName')">
              <label class="form-check-label" for="lightCheck2">
                Sales and Marketing
              </label>
            </div>
          </div>
          <hr class="my-auto flex-grow-1 mx-4">
        </div>
        <span class="ml-4 mt-3" data-toggle="collapse" data-toggle="collapse" href="#job-type">
          <div class="d-flex">
            <div class="mr-auto p-2"><Strong>Job Type</Strong> </div>
            <div class="mr-4 pt-2"><img src="../../../assets/images/Vector .png" style="height: 10px;"></div>
          </div>
        </span>
        <div id="job-type" class="collapse show">
          <div class="card-body ml-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Work From Home" [(ngModel)]="workHome" id="work-from-home" (change)="workHome?filterByJobType('jobType',$event.target.value):filterRemove('Work From Home')">
              <label class="form-check-label" for="work-from-home">
                Work From Home
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="full-time" value="Full Time" [(ngModel)]="fullTime" (change)="fullTime?filterByJobType('jobType',$event.target.value):filterRemove('Full Time')" >
              <label class="form-check-label" for="full-time">
                Full Time
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="part-time" value="Part Time"  [(ngModel)]="partTime" (change)="partTime?filterByJobType('jobType',$event.target.value):filterRemove('Part Time')">
              <label class="form-check-label" for="part-time">
                Part Time
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 d-none d-lg-block">
        <div class="card" style="border-radius: 15px;">
          <div class="card-title mt-2 ml-4">
            <strong><img src="../../../assets/images/Filter icon.png" class="mr-2" style="height: 20px;">Filter</strong>
          </div>
          <span class="ml-4 mt-2" data-toggle="collapse" data-toggle="collapse" href="#freshness">
            <div class="d-flex">
              <div class="mr-auto p-2"><Strong>Freshness</Strong> </div>
              <div class="mr-4 pt-2"><img src="../../../assets/images/Vector .png" style="height: 10px;"></div>
            </div>
          </span>
          <div id="freshness" class="collapse show">
            <div class="card-body ml-3">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="date" id="date1" 
                  checked   value="date1"  (change)="filterBy($event.target.value)">
                <label class="form-check-label" for="date1">
                  15 Days
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="date" id="date2"  value="date2" (change)="filterBy($event.target.value)">
                <label class="form-check-label" for="date2">
                  1 Month
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="date" id="date3" value="date3"  (change)="filterBy($event.target.value)">
                <label class="form-check-label" for="date3">
                  6 Month
                </label>
              </div>
            </div>
            <hr class="my-auto flex-grow-1 mx-4">
          </div>

          <span class="ml-4 mt-3" data-toggle="collapse" data-toggle="collapse" href="#salary">
            <div class="d-flex">
              <div class="mr-auto p-2"><Strong> Salary</Strong> </div>
              <div class="mr-4 pt-2"><img src="../../../assets/images/Vector .png" style="height: 10px;"></div>
            </div>
          </span>
          <div id="salary" class="collapse show">
            <div class="card-body ml-3">
              <div class="custom-slider">
                <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options" (mouseup)="filterRange('salary',value,highValue)"></ngx-slider>
              </div>
              <div class="d-flex mt-4">
                <div class="mr-auto p-2">
                  <input type="text" class="filter__input" [value]="value" >
                </div>
                <div class="p-2">

                  <input type="text" class="filter__input" [value]="highValue" (change)="filterRange('salary',value,highValue)">
                </div>
              </div>

            </div>
            <hr class="my-auto flex-grow-1 mx-4">
          </div>
          <span class="ml-4 mt-3" data-toggle="collapse" data-toggle="collapse" href="#industries">
            <div class="d-flex">
              <div class="mr-auto p-2"><Strong>Industries</Strong> </div>
              <div class="mr-4 pt-2"><img src="../../../assets/images/Vector .png" style="height: 10px;"></div>
            </div>
          </span>
          <div id="industries" class="collapse show">
            <div class="card-body ml-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="It and Developement" id="it-development" [(ngModel)]="it" (change)="it? filterByIndustry('industryName',$event.target.value):filterRemove('industryName')" >
                <label class="form-check-label" for="lightCheck1">
                  It and Developement
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Contraction" id="contraction" [(ngModel)]="contraction" (change)="contraction?filterByIndustry('industryName',$event.target.value):filterRemove('industryName')">
                <label class="form-check-label" for="lightCheck2">
                  Contraction
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Education" id="education"  [(ngModel)]="education"  (change)="education?filterByIndustry('industryName',$event.target.value):filterRemove('industryName')">
                <label class="form-check-label" for="lightCheck2">
                  Education
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="string" id="Sales and Marketing"  [(ngModel)]="sales"   (change)="sales?filterByIndustry('industryName',$event.target.value):filterRemove('industryName')">
                <label class="form-check-label" for="lightCheck2">
                  Sales and Marketing
                </label>
              </div>
            </div>
            <hr class="my-auto flex-grow-1 mx-4">
          </div>
          <span class="ml-4 mt-3" data-toggle="collapse" data-toggle="collapse" href="#job-type">
            <div class="d-flex">
              <div class="mr-auto p-2"><Strong>Job Type</Strong> </div>
              <div class="mr-4 pt-2"><img src="../../../assets/images/Vector .png" style="height: 10px;"></div>
            </div>
          </span>
          <div id="job-type" class="collapse show">
            <div class="card-body ml-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Work From Home" [(ngModel)]="workHome" id="work-from-home" (change)="workHome?filterByJobType('jobType',$event.target.value):filterRemove('Work From Home')">
                <label class="form-check-label" for="work-from-home">
                  Work From Home
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox"  id="full-time" value="Full Time" [(ngModel)]="fullTime" (change)="fullTime?filterByJobType('jobType',$event.target.value):filterRemove('Full Time')" >
                <label class="form-check-label" for="full-time">
                  Full Time
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox"  id="part-time" value="Part Time"  [(ngModel)]="partTime" (change)="partTime?filterByJobType('jobType',$event.target.value):filterRemove('Part Time')">
                <label class="form-check-label" for="part-time">
                  Part Time
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-9">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="job-box-border mb-3 d-flex align-items-center" *ngIf="vacancies.length>0">
                <div class="mr-auto p-2 text-muted ml-3 d-none d-lg-block ">{{p}} of {{vacancies.length}} it jobs</div>
                <div class="mr-auto p-2 text-muted ml-3 d-md-none d-sm-block"> <span (click)="openNav()"><strong
                      style="color: black;"><img src="../../../assets/images/Filter icon.png" class="mr-2"
                        style="height: 20px;">Filter</strong> </span></div>
                <div class="p-2 text-right mr-2"><button type="button" class="btn-sort"
                    style="border-radius: 20px;">Sort By<img src="../../../assets/images/Close.png"
                      style="height: 6px; width: 10px;" class="ml-2"></button></div>
              </div>
              <div class="mr-auto pb-3 text-muted ml-3 d-md-none d-sm-block">{{p}} of {{vacancies.length}} it jobs</div>
              <div class="vacancy-boxInner mt-0 pt-0" *ngFor="let vacancy of  vacancies | paginate: { itemsPerPage: 3, currentPage: p }" [routerLink]="['/job-description']" [queryParams]="vacancy">
                <div class="logo-box" >
                  <div class="row d-flex justify-content-end mt-0 pt-0">
                    <div class="col-10 col-sm-10 text-right">
                      <ul class="list-inline">
                        <li class="list-inline-item mt-3 mr-0 pr-0" ><span><img src="../../../assets/images/clock.png"
                              style="height: 15px; width: 15px;"><span style="color: #5F5F61;"
                              class="mr-3 ml-1">{{vacancy.createdAt | momentPipe}}</span></span></li>
                        <li class="list-inline-item"><img src="../../../assets/images/Work From Home.png"
                            style="height: 60px;" class="mt-0" *ngIf="vacancy.contractType==='Work From Home'"></li>
                      </ul>

                    </div>
                  </div>
                  <div>
                    <h3 *ngIf="vacancy.company"><img [src]="vacancy.company.logoUrl" alt="idea">
                      <span> {{vacancy.title}}
                        <span class="orange-text" *ngIf="vacancy.company">{{vacancy.company.name}}</span>
                      </span>
                    </h3>
                  </div>
                  <!-- <div class="col-2 col-sm-2">
                      <span>Today <img src="../../../assets/images/Work From Home.png"
                        style="height: 60px;"></span>

                    </div> -->

                  <div class="job-box pt-2 d-none d-lg-block">
                    <ul class="list-inline d-flex flex-column flex-sm-row">
                      <li class="list-inline-item"><span class="label">Experience:</span>
                        <span class="input">{{vacancy.experience}}</span>
                      </li>
                      <div class="li-border my-2"></div>
                      <li class="list-inline-item"><span class="label">Salary:</span>
                        <span class="input">{{vacancy.salary}}</span>
                      </li>
                      <div class="li-border my-2"></div>
                      <li class="list-inline-item"><span class="label">Location:</span>
                        <span class="input">{{vacancy.location}}</span>
                      </li>
                      <div class="li-border my-2"></div>
                      <li class="list-inline-item"><span class="label">Type:</span>
                        <span class="input">{{vacancy.contractType}}</span>
                      </li>
                    </ul>
                  </div>

                  <div class="job-box pt-2 d-md-none d-sm-block">
                    <dl class="row justify-content-center">
                      <dt class="col-5 col-sm-4 text-muted">Experience:</dt>
                      <dd class="col-6 col-sm-8 ml-0 pl-0"><strong> {{vacancy.experience}}</strong></dd>
                      <div class="dl-border"></div>
                      <div class="w-100"></div>
                      <dt class="col-5 col-sm-4 text-muted">Salary:</dt>
                      <dd class="col-6 col-sm-8 ml-0 pl-0"><strong>{{vacancy.salary}}</strong></dd>
                      <div class="dl-border"></div>
                      <div class="w-100"></div>
                      <dt class="col-5 col-sm-4 text-muted">Location:</dt>
                      <dd class="col-6 col-sm-8 ml-0 pl-0"><strong>{{vacancy.location}}</strong></dd>
                      <div class="dl-border"></div>
                      <div class="w-100"></div>
                      <dt class="col-5 col-sm-4  text-muted">Type:</dt>
                      <dd class="col-6 col-sm-8 ml-0 pl-0"><strong>{{vacancy.contractType}}</strong></dd>
                    </dl>
                  </div>
                  <h6><strong>Description</strong></h6>
                  <div class=" d-flex flex-column flex-sm-row">
                    <p>{{vacancy.role}}</p>
                    <!-- <p>{{vacancy.description}}</p> -->
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="ball-scale-multiple"
        >
          <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner> -->
          <div *ngIf="vacancies.length===0">
            <h3 class="text-muted text-center">No match found</h3>
          </div>
          <!-- <div class="d-flex justify-content-center" >
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div> -->
          <pagination-controls (pageChange)="p = $event" *ngIf="vacancies.length>0" class="text-center my-pagination"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
