.header-text {
    margin-top: 20px;
    text-align: center;
}
.card-data {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
}
.card-box-basic {
    display: inline-block;
    margin-bottom: 40px;
    background: #FFFFFF;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
    .choose-button {
        width: 150px;
        height: 55px;
        background: #FFFFFF;
        color: #FBAE17;
        border: 2px solid #FBAE17;
        box-sizing: border-box;
        border-radius: 20px;
    }
}

.card-box-silver {
    display: inline-block;
    margin-bottom: 40px;
    background: #FFFFFF;
    border: 2px solid #FBAE17;
    box-sizing: border-box;
    border-radius: 20px;
    .choose-button {
        width: 150px;
        height: 55px;
        background: #FBAE17;
        color: white;
        border: 2px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .card-box-silver {
        margin-left: 40px;
    }
}
.card-box-gold {
    display: inline-block;
    margin-bottom: 40px;
    background: #FFFFFF;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
    .choose-button {
        width: 150px;
        height: 55px;
        background: #FFFFFF;
        color: #FBAE17;
        border: 2px solid #FBAE17;
        box-sizing: border-box;
        border-radius: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .card-box-gold {
        margin-left: 80px;
    }
}
.text-color {
    color: #FBAE17;
}

.price-value{
    color: #000;
    padding: 20px 70px;
    margin: 0 0 20px;
    .amount {
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
    }
    .duration{
        font-size: 30px;
        font-weight: 300;
        text-transform: lowercase;
    }
}