<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <h6 class="header-text">Choose Plan For Subscription</h6>
        </div>
        <div class="col-12 col-sm-12 col-md-12">
            <h6 class="header-text"><small class="text-muted">
                Select one of the following plans andget the opportunity <br/>
                to apply for the job.
            </small></h6>
        </div>
        <div class="col-12 col-sm-12 offset-md-1 col-md-3 mr-3">
            <div class="card card-box-basic mx-auto">
                <h6 class="header-text"><small class="text-muted"><br/><br/></small>Basic <br/><small class="text-muted">Plan</small></h6>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <h5 class="header-text"><small class="text-muted">
                            Get 2 month subscription <br/>
                            in this plan
                        </small></h5>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 ml-4">
                        <div class="price-value">
                            <span class="amount">$15</span>
                            <span class="duration">/month</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 offset-3 col-md-9">
                        <button class="choose-button" [routerLink]="['/payment']" 
                        [queryParams]="paymentPlans.basicPlan">Choose Plan</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 ml-4 mt-4">
                        Includes:
                    </div>
                    <div class="col-12 col-sm-12 col-md-12">
                        <ul>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> 2 month subscription</small></h6></li>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> Apply for 25 jobs</small></h6></li>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> Chat for 10 jobs</small></h6></li>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> Your resume Submit 10 company</small></h6></li>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> 20 times specially notify</small></h6></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12">
                        <ul>
                            <li><img src="assets/images/dot.png" alt=""> Up to 30% Discount *only Today</li>
                            <li><img src="assets/images/dot.png" alt=""> Use credit card 100% flat discount</li>
                        </ul>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 ml-3 mr-3">
            <div class="card card-box-silver mx-auto">
                <h5 class="header-text"><small class="text-muted">Popular Plan</small><br/> Silver <br/><small class="text-muted">Plan</small></h5>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <h5 class="header-text"><small class="text-muted">
                            Get 5 month subscription <br/>
                            in this plan
                        </small></h5>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 ml-4">
                        <div class="price-value">
                            <span class="amount">$25</span>
                            <span class="duration">/month</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 offset-3 col-md-9">
                        <button class="choose-button">Choose Plan</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 ml-4 mt-4">
                        Includes:
                    </div>
                    <div class="col-12 col-sm-12 col-md-12">
                        <ul>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> 5 month subscription</small></h6></li>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> Apply for 50 jobs</small></h6></li>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> Chat for 25 jobs</small></h6></li>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> Your resume Submit 30 company</small></h6></li>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> 50 times specially notify</small></h6></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12">
                        <ul>
                            <li><img src="assets/images/dot.png" alt=""> Up to 50% Discount *only Today</li>
                            <li><img src="assets/images/dot.png" alt=""> Use credit card 5% flat discount</li>
                        </ul>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 ml-3">
            <div class="card card-box-gold mx-auto">
                <h6 class="header-text"><small class="text-muted"><br/><br/></small> Basic <br/><small class="text-muted">Plan</small></h6>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <h5 class="header-text"><small class="text-muted">
                            Get 10 month subscription <br/>
                            in this plan
                        </small></h5>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 ml-4">
                        <div class="price-value">
                            <span class="amount">$55</span>
                            <span class="duration">/month</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 offset-3 col-md-9">
                        <button class="choose-button">Choose Plan</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 ml-4 mt-4">
                        Includes:
                    </div>
                    <div class="col-12 col-sm-12 col-md-12">
                        <ul>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> 10 month subscription</small></h6></li>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> Apply for 100 jobs</small></h6></li>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> Chat for 75 jobs</small></h6></li>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> Your resume Submit 200 company</small></h6></li>
                            <li><h6><small class="text-muted"><img src="assets/images/right.png" alt=""> 70 times specially notify</small></h6></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12">
                        <ul>
                            <li><img src="assets/images/dot.png" alt=""> Up to 50% Discount *only Today</li>
                            <li><img src="assets/images/dot.png" alt=""> Use credit card 5% flat discount</li>
                        </ul>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>